{% extends 'main_header.html' %}
{% load staticfiles %}
{% load arduino_tags %}
{% load i18n %}


{% block main_content_wrapper %}
  {% language 'es' %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        REPORTES DEL SENSOR <b>{{report_list.last.sensor}}</b>
        <small></small>
      </h1>
    </section>


    <section class="content">

    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">
              Todos los reportes
            </h3>
          </div>
          <div class="box-body">
            <table id="table_reports" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>ID Reporte</th>
                  <th>Fecha Creación</th>
                  <th>Tipo Archivo</th>
                  <th>Tipo Reporte</th>
                  <th>Fechas del Reporte</th>
                  <th>Descargar</th>
                </tr>
              </thead>
              <tbody>

                {% for report in report_list %}
                <tr>
                  <td> Reporte00{{report.id}} </td>
                  <td> {{report.created_at}} </td>
                  <td> {{report.get_tipo_archivo_display }} </td>
                  <td> {{report.get_tipo_reporte_display }} </td>
                  <td> Fecha Inicial: <b>{{report.fecha_inicial | epoch2Date }} </b> <br/> Fecha Final: <b>{{report.fecha_final | epoch2Date }}</b>
                  </td>
                  <td>
                    <a href="{{report.archivo.url }}" target="_blank">
                      <button type="button" class="btn btn-warning">Descargar</button>
                    </a>
                    <a href="{% url 'dashboard-client:reports-delete' sensor_pk=report.sensor.id pk=report.id  %}">
                      <button class="btn btn-info">Borrar</button>
                    </a>
                    <a href="{% url 'dashboard-client:reports-update' sensor_pk=report.sensor.id pk=report.id  %}">
                      <button class="btn btn-info">Actualizar</button>
                    </a>
                  </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->

      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <a href="{% url 'dashboard-client:reports-add' sensor_pk=report_list.last.sensor.id  %}">
            <button class="btn btn-block btn-info btn-lg">Crear Reporte</button>
          </a>
        </div>
      </div>
    </div>
    
    {% if report_list.count > 0 %}
    {% endif %}


  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endlanguage %}
{% endblock main_content_wrapper %}


{% block content_js %}
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
  <!-- page script -->
<script type="application/javascript">

  $(function () {
    $('#table_reports').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": false,
      "autoWidth": true,
      "oLanguage": {
        "sSearch": "Buscar:"
      }
    });
  });

</script>

{% endblock content_js %}
