{% extends 'main_header.html' %}
{% load staticfiles %}


{% load arduino_tags %}

{% block main_content_wrapper %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Nombre Transmisor: <b>{{ arduino.name }}</b>
        <small>Transmisor Seleccionado</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
          <div class="row">
            <div class="col-md-6">
              <div class="box box-solid">
                <div class="box-header with-border">
                  <i class="fa fa-adjust"></i>
                  <h3 class="box-title">Información del Sistema</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <dl class="dl-horizontal">
                    <dt>Nombre  </dt>
                    <dd>{{ arduino.name }} </dd>
                    <dt>Ubicación</dt>
                    <dd>{{ arduino.location }} </dd>
                    <dt>ID del Transmisor </dt>
                    <dd> Sist-00{{ arduino.id }} </dd>
                  </dl>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- ./col -->

            <div class="col-md-6">
              <div class="box box-solid">
                <div class="box-header with-border">
                  <i class="fa fa-adjust"></i>
                  <h3 class="box-title">Información del Sistema</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <dl class="dl-horizontal">
                    <dt>Cantidad de Sensores</dt>
                    <dd>{{ arduino.sensors.count | add:"-1" }} </dd>

                    {% comment %}
                    <dt>Estatus</dt>
                    <dd><span class="label label-success">Correcto</span></dd>
                    <dt>Epoch</dt>
                    {% for sensor in arduino.arduino_sensors.all %}
                      {% if  sensor.data_key == "field2" %}
                        <span id="epoch_{{ sensor.id}}">
                          {{ sensor.sensor_data.last.data }}
                        </span>
                      {% endif %}
                    {% endfor %}
                    {% endcomment %}
                  </dl>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- ./col -->
          </div>


      <div class="row">
        <div class="col-xs-12">
          <!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">
                Lista de sensores        -
                {% for sensor in arduino.arduino_sensors.all %}
                  {% if  sensor.data_key == "field2" %}
                    <span id="epoch_{{ sensor.id}}">
                      Conectando...
                    </span>
                    {% endif %}
                  {% endfor %}
              </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="">
                <table id="table_sistemas" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Sensor ID</th>
                      <th>Nombre Sensor</th>
                      <th>Tipo de Sensor</th>
                      <th>Valor Mínimo</th>
                      <th>Ultimo Valor</th>
                      <th>Valor Máximo</th>
                      <th> </th>
                    </tr>
                  </thead>
                  <tbody>

                    {% for sensor in arduino.arduino_sensors.all %}
                      {% if  sensor.data_key != "field1" %}

                        {% if  sensor.sensor_data.last.data|floatformat:2  == "-127.00" %}
                          <tr id="row_{{sensor.id}}" class="hidden">
                        {% else %}
                          <tr id="row_{{sensor.id}}">
                        {% endif %}

                        <td> <a href="/dash/sensor/{{sensor.id}}">SENSOR-00{{sensor.index}}</a> </td>
                        <td>{{ sensor.description }}</td>
                        <td>{{ sensor.sensor_type.name }}</td>
                        <td align="center">
                            {{ sensor.min_value|floatformat:2 }}
                        </td>
                        <td align="center">
                          <div id="sensor_{{ sensor.id}}">
                            {{ sensor.sensor_data.last.data|floatformat:2 }}
                          </div>
                        </td>
                        <td align="center">
                            {{ sensor.max_value|floatformat:2 }}
                        </td>

                        {% comment %}
                          {% if  arduino.id|isEven == 0%}
                            <td> <span class="label label-danger">{{arduino.get_estatus_display }}</span> </td>
                          {% else %}
                            <td> <span class="label label-success">{{arduino.get_estatus_display }}</span> </td>
                          {% endif %}
                        {% endcomment %}
                        <td>
                          {% ifnotequal sensor.description "Epoch"%}
                          <div class="btn-group">
                            <a href="/dash/sensor/{{sensor.id}}" target="_self">
                              <button  type="button" class="btn btn-success">Gráfica</button>
                            </a>
                          </div>
                          {% endifnotequal%}
                        </td>
                      </tr>
                      {% endif %}
                    {% endfor %}

                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock main_content_wrapper %}



{% block content_js %}
<script type="text/javascript" src="{% static 'js/ws4redis.js'  %}"></script>
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>

  <script type="application/javascript">

    // Validamos el entorno donde estamos trabajando
    //Tambien tomamos la IP dinamica para ya no moverle :3
    //##############################

    var site_url = "{{ site_url }}";
    var ws_url = 'ws://' + site_url;

    var urlApi;
    var tokenCode ;

    if(site_url == 'sensait.dyndns.org'){
      tokenCode = 'Token d7e7f378cdc67dcd7cec11b76e017927c3e73bc3';
    }else{
      tokenCode   = 'Token 6b4f2e70ae0d435bf512897355947fe0a564972a';
      //Para cuando se accede desde la RED local el server
      if( site_url == "192.168.253.31"){
        tokenCode = 'Token d7e7f378cdc67dcd7cec11b76e017927c3e73bc3';
      }
    }

  $(function () {
    $('#table_sistemas').DataTable({
      "paging": false,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": false,
      "autoWidth": false
    });
  });


    var canUseSocket = false;
    var allSockets = [];

    function createSocket(arduinoID, arduinoToken){
      var ws4redis = WS4Redis({
        uri: ws_url+'/ws/'+arduinoToken+'?subscribe-broadcast&publish-broadcast&echo',
        //'ws://sensait.dyndns.org/ws/{{arduinosensor.arduino.arduino_token}}?subscribe-broadcast&publish-broadcast&echo',
        //':'+userPort+
        connecting: on_connecting,
        connected: on_connected,
        receive_message: receiveMessage,
        disconnected: on_disconnected,
        heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
      });
      allSockets.push(ws4redis);
    }

    // attach this function to an event handler on your site
    function sendMessage() {
      ws4redis.send_message('A message');
    }

    function on_connecting() {
      alert('Websocket is connecting...');
    }

    function on_connected() {
      ws4redis.send_message('Hello');
    }

    function on_disconnected(evt) {
      alert('Websocket was disconnected: ' + JSON.stringify(evt));
    }

    // receive a message though the websocket from the server
    function receiveMessage(msg) {
      useWSData(msg);
    }

    $(document).ready(function(){
      createSocket("{{ arduino.id }}", "{{ arduino.arduino_token }}");
      canUseSocket = true;
    });

    function useWSData(msg){

      if(canUseSocket == true ){
        var wsData = JSON.parse(msg);

        for(var i= 0 ; i < wsData.length ; i++){
          var data = wsData[i]['data'];

          if(data == '-127.00' || data == ''){
            $('#row_'+wsData[i]['arduino_sensor']).hide();
          }else{
            var epochDate = convertEpoch2Date(wsData[i]['epoch']);
            $('#epoch_'+wsData[0]['arduino_sensor']).html('Ultima Actualización:  ' + epochDate);

            $('#row_'+wsData[i]['arduino_sensor']).show();
            $('#sens_'+wsData[i]['arduino_sensor']).html(data + " &#176;");
          }
        }
      }
    }

    function convertEpoch2Date(epochData){

      if(parseInt(epochData)>10000){
        var actualDate = new Date();
        var actualHours = actualDate.getHours();

        var d = new Date(parseInt(epochData)*1000);
        var day     =  d.getDate() +'';
        var month   =  d.getMonth() + 1 +'';
        var hour    =  d.getHours() +'';
        var minutes =  d.getMinutes()+'';
        var seconds =  d.getSeconds()+'';

        /*
        if(parseInt(hour) > parseInt(actualHours)){
          if(parseInt(hour) < 5){
            var dif = hour - 5;
            hour = 24 - dif;
          }else{
            hour = hour - 5;
          }
        }
        */

        //NO me gusta... pero no se me ocurre otra forma...
        if(day.length == 1)
          day = '0'+day;
        if(month.length == 1)
          month = '0'+month;
        if(hour.length == 1)
          hour = '0'+hour;
        if(minutes.length == 1)
          minutes = '0'+minutes;
        if(seconds.length == 1)
          seconds = '0'+seconds;

        var dateFormat = day +'/'+month+'/'+d.getFullYear();
        var timeFormat = hour+':'+minutes+':'+seconds;

        return dateFormat + '               <b>' + timeFormat + '</b>';
      }else{
        return "Formato de Fecha Invalido";
      }
    }

  </script>

{% endblock content_js %}
