{% extends 'main_header.html' %}
{% load staticfiles %}
{% load i18n %}
{% load arduino_tags %}


{% block main_content_wrapper %}

{% language 'es' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        LISTA DE PROYECTOS
        <small>activos</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-xs-12">
          <!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">

            <!-- /.box-header -->
            <div class="box-body">
              <div class="table">
                <table id="table_projects" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>ID Proyecto</th>
                      <th>Nombre del Proyecto</th>
                      <th>No. de Transmisores</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>

                    {% for project in project_list %}
                    <tr>
                      <td>
                        <a href="/dash/projects/{{project.id}}">Proy00{{project.id}}</a>
                      </td>
                      <td>{{project.name}}</td>
                      <td align="center">{{project.arduinos.count}}</td>
                      <td align="center">
                        <div class="btn-group">
                          <a href="/dash/projects/{{project.id}}" target="_self">
                            <button  type="button" class="btn btn-success">Ver Proyecto</button>
                          </a>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->

            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endlanguage %}
{% endblock main_content_wrapper %}



{% block content_js %}
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
  <!-- page script -->
<script type="application/javascript">

  $(function () {
    $('#table_projects').DataTable({
      "paging": false,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": false,
      "autoWidth": false
    });
  });

</script>

{% endblock content_js %}
