{% extends 'main_header.html' %}
{% load staticfiles %}

{% load arduino_tags %}

{% block main_content_wrapper %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{ project.name}}
        <small>Detalle del Proyecto</small>
      </h1>
      <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i>
            Home</a>
        </li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

    <div class="row">

      <div class="col-md-6">
        <div class="box box-solid">
          <div class="box-header with-border">
            <i class="fa fa-adjust"></i>
            <h3 class="box-title">Información del Proyecto</h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <dl class="dl-horizontal">
              <dt>Nombre del Proyecto </dt>
              <dd> {{ project.name}} </dd>
              <dt>Fecha de implementación</dt>
              <dd>{{ project.created_at}} </dd>
              <dt>Mantenimientos</dt>
              <dd>0004   &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#">
                  <i class="fa fa-edit"></i>
                  Ver detalle
                </a>
              </dd>
            </dl>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- ./col -->

      <div class="col-md-6">
        <div class="box box-solid">
          <div class="box-header with-border">
            <i class="fa fa-adjust"></i>
            <h3 class="box-title">Información de los IoTs</h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <dl class="dl-horizontal">
              <dt>Sistemas - Instalados</dt>
              <dd>  {{ project.arduinos.count}}  </dd>
              <dt>Configuración de Alertas</dt>
              <dd>
                <a href="#">
                  <i class="fa fa-edit"></i>
                  Configurar
                </a>
              </dd>
            </dl>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- ./col -->
    </div>

      <div class="row">
        <div class="col-xs-12">
          <!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">
                Lista de Sistemas en el Proyecto
              </h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
                <button class="btn btn-box-tool" data-widget="remove">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                    <tr>
                      <th>ID Sistema</th>
                      <th>Sistema Nombre</th>
                      <th>Ultima Actualización</th>
                      <th>Estatus</th>
                      <th> </th>
                    </tr>
                  </thead>
                  <tbody>

                    {%for arduino in project.arduinos.all %}
                    <tr>
                      <td>
                        <a href="/dash/iot/{{ arduino.id}}">Sist-00{{ arduino.id}}</a>
                      </td>
                      <td> {{ arduino.name }}</td>
                      <td> {{ arduino.updated_at }}</td>
                      {% if  arduino.id|isEven == 0%}
                        <td> <span class="label label-danger">{{arduino.get_estatus_display }}</span> </td>
                      {% else %}
                        <td> <span class="label label-success">{{arduino.get_estatus_display }}</span> </td>
                      {% endif %}
                      <td>
                        <div class="btn-group">
                          <a href="/dash/iot/{{arduino.id}}" target="_self">
                            <button  type="button" class="btn btn-success">Ver</button>
                          </a>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}


                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            {% comment %}
            <div class="box-footer clearfix">
              <a href="javascript::;" class="btn btn-sm btn-default btn-flat pull-right">
                Ver detalle del Proyecto
              </a>
            </div>
            {% endcomment %}
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>

      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock main_content_wrapper %}
