{% extends 'main_header.html' %}
{% load staticfiles %}

{% load arduino_tags %}

{% block content_css %}

<style>
  .pickers{
    display:block;
    clear:both;
  }
</style>

{% endblock content_css %}


{% block main_content_wrapper %}

  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      RESUMEN DE TRANSMISORES
      <small>activos</small>
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- /.Div para los transmisores y sus respectivos sensores. -->
    <div id="transmisores" class="">
    </div>

    <div class="row">

    <div class="col-md-12">
      <!-- TABLE: LATEST ORDERS -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">
            CAMBIAR DE PROYECTO
          </h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
            <button class="btn btn-box-tool" data-widget="remove">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <!-- /.box-header -->

        <div class="box-body">
          <div id ="my_projects" class="table">
            <table id="table_projects"  class="table no-margin">
              <thead>
                <tr>
                  <th>ID Proyecto</th>
                  <th>Nombre</th>
                  <th>No. Transmisores</th>
                  <th>Accion</th>
                </tr>
              </thead>
              <tbody>

                {% for project in project_list %}
                <tr id="proy_{{project.id}}" >
                  <td>
                    PROY00{{project.id}}
                  </td>
                  <td>
                    {{project.name}}
                  </td>
                  <td>
                    {{project.arduinos.count}}
                  </td>
                  <td>
                    {%if forloop.counter0	== 0 %}
                      <button  id="activar_{{project.id}}" type="button" class="btn btn-info">Activo</button>
                    {% else %}
                      <button  id="activar_{{project.id}}" type="button" class="btn btn-default">Seleccionar</button>
                    {% endif%}
                  </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
          <!-- /.table-responsive      <span class="label label-success">Activo</span>  -->
        </div>


        <!-- /.box-body -->
        <!-- /.box-footer -->
      </div>
      <!-- /.box -->
    </div>

  </div>

  </section>
    <!-- /.content -->
</div>
  <!-- /.content-wrapper -->

{% endblock main_content_wrapper %}


{% block content_js %}
  <script type="text/javascript" src="{% static 'js/ws4redis.js'  %}"></script>

  <script src="{% static 'plugins/dygraphs/dygraph-combined.js' %}"></script>
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>

  <!-- page script -->

  <script type="application/javascript">

  // Validamos el entorno donde estamos trabajando
  //Tambien tomamos la IP dinamica para ya no moverle :3
  //##############################

  var site_url = "{{ site_url }}";
  var ws_url = 'ws://' + site_url;

  var urlApiBase;
  var tokenCode ;

  if(site_url == 'sensait.dyndns.org'){
    tokenCode = 'Token d7e7f378cdc67dcd7cec11b76e017927c3e73bc3';
  }else{
    tokenCode   = 'Token 6b4f2e70ae0d435bf512897355947fe0a564972a';
    //Para cuando se accede desde la RED local el server
    if( site_url == "192.168.253.31"){
      tokenCode = 'Token d7e7f378cdc67dcd7cec11b76e017927c3e73bc3';
    }
  }
  urlApiBase = site_url+'/api/'

  //##############################

  // JQUERY para los DATA TABLES Y CALENDARIOS
  //##############################

  $('#table_projects').DataTable({
    "paging": true,
    "lengthChange": false,
    "searching": false,
    "ordering": true,
    "info":true,
  });


  $('#table_sistemas').DataTable({
    "paging": true,
    "lengthChange": false,
    "searching": false,
    "ordering": true,
    "info":true,
  });

  //##############################

  //##############################
  //      SOCKETS & SU MAGIA
  //##############################

  var canUseSocket = false;

  var allSockets = [];

  function createSocket(arduinoID, arduinoToken){
    var ws4redis = WS4Redis({
      uri: ws_url+'/ws/'+arduinoToken+'?subscribe-broadcast&publish-broadcast&echo',
      //'ws://sensait.dyndns.org/ws/{{arduinosensor.arduino.arduino_token}}?subscribe-broadcast&publish-broadcast&echo',
      //':'+userPort+
      connecting: on_connecting,
      connected: on_connected,
      receive_message: receiveMessage,
      disconnected: on_disconnected,
      heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
    });
    allSockets.push(ws4redis);
  }



    // attach this function to an event handler on your site
    function sendMessage() {
      ws4redis.send_message('A message');
    }

    function on_connecting() {
      alert('Websocket is connecting...');
    }

    function on_connected() {
      ws4redis.send_message('Hello');
    }

    function on_disconnected(evt) {
      alert('Websocket was disconnected: ' + JSON.stringify(evt));
    }

    // receive a message though the websocket from the server
    function receiveMessage(msg) {
      useWSData(msg);
    }

  //##############################
  //  END -- SOCKETS & SU MAGIA
  //##############################

  //Variable que tendra todos los registros de los sensores y su info.
  var allData     = [];
  var _activeTab  = 0 ;     //Tab seleccionada
  var _proyID     = 0 ;     //Proyecto seleccionada
  var _sysID      = 0 ;     //Systema seleccionada
  var _sensID     = 0 ;     //Sensor seleccionada

  var proyectNames  = [] ;
  {% for project in project_list %}
    var name = '{{project.name}}';
    proyectNames[{{project.id}}] = '{{project.name}}';
  {% endfor %}

  var actualProject = ' ' ;
  var actualArduino = ' ' ;
  var projectsApi   = 'projects/{{ project_list.first.arduinos.first.id }}/';
  var arduinosApi   = 'arduinos/';
  var sensorsApi    = 'sensors/idsensor/data/';

  var _sensors_data;

  $(document).ready(function(){
    //Utilizamos los datos iniciales de los proyectos

    actualProject = {{ project_list.first.id }} ;
    actualArduino = {{ project_list.first.arduinos.first.id }};

    _proyID = actualProject;

    console.log(proyectNames);
    //console.log( allData );
    getArduinosFromProject( _proyID );
  });

  $("[id^=activar_]").click(function(){

    console.log( $(this)[0].id );

    var project_selected_ID =  $(this)[0].id;

    project_selected_ID     = project_selected_ID.replace("activar_","");

    allSockets = [];

    var idKeys = Object.keys(proyectNames);

    for(var i=0; i<idKeys.length; i++){
      console.log(idKeys[i]);
      //$("#activar_"+idKeys[i]).removeClass('btn-default');
      $("#activar_"+idKeys[i]).removeClass('btn-info');
      $("#activar_"+idKeys[i]).addClass('btn-default');

      $("#activar_"+idKeys[i]).html('Seleccionar');
    }

    $("#activar_"+_proyID).addClass('btn-info');
    $("#activar_"+_proyID).html('Activo');

    _proyID = project_selected_ID;

    getArduinosFromProject( _proyID );
  });



  //Pedimos a la API los datos de los sistemas
  function getArduinosFromProject(proyect_ID){

    $.ajax({
      url: 'http://' + urlApiBase + arduinosApi + '?project='+_proyID,
      type: 'GET',
      contentType: 'json/application',
      dataType: 'json',
      processData: false,
      xhrFields: {
        withCredentials: false
      },
      headers: {
        'Authorization': tokenCode
      },
      success: function(data) {
        console.log('PROYECTO SELECCIONADO ' +  proyect_ID);
        //console.log(data);
        dataProjectCallBack(data);
      },
      error: function() {
        console.log('Hubo un problema, solucionalo...!');
      }
    });
  }

  function dataProjectCallBack( data ){
    console.log(data);
    $('#transmisores').html(" ");

    var rowData = "";

    for( var i = 0; i < data.length ; i++){
      if(data[i].sensors.length > 0 ){
        var blocksData = " ";
        var epochData  = " ";

        for( var j = 0; j < data[i].sensors.length ; j++){
          var description = data[i].sensors[j].description;
          var dataKey     = data[i].sensors[j].data_key;
          var sensID      = data[i].sensors[j].id;

          if(description.toLowerCase() != 'epoch' || dataKey != 'field1'){
            blocksData +=
            '<div id="blocksens_'+sensID +'">'+
              '<div class="col-sm-3 col-xs-12">'+
                '<div class="info-box">'+
                  '<span class="info-box-icon bg-green"><i class="fa fa-fw fa-area-chart"></i></span>'+
                  '<div class="info-box-content">'+
                    '<span class="info-box-text">'+
                      description+
                    '</span>'+
                    '<span id=sens_'+sensID +' class="info-box-number">0'+
                    '&#176;</span>'+
                    '<span id=min_'+sensID +' class="info-box-text">'+
                      'Min. 0'+
                    '&#176;</span>'+
                    '<span id=max_'+sensID +' class="info-box-text">'+
                      'Max. 0'+
                    '&#176;</span>'+
                  '</div>'+
                '</div>'+
              '</div>'+
            '</div>';
          }
        }

        rowData +=
        '<div id="trans_'+data[i].id +'">'+
          '<div class="row">'+
            '<div class="col-xs-12">'+
              '<div class="box box-info">'+
                '<div class="box-header with-border">'+
                  '<h3 class="box-title">'+
                    '<b>Proyecto:  </b>'+proyectNames[_proyID] +' --  '+
                    '<b>Transmisor:</b>  '+data[i].name+
                  '</h3>'+
                '</div>'+
                '<div class="box-body">'+
                  '<div id="epoch_'+data[i].id +'">Ultima actualización: </div>'+
                  '<br/>'+
                  blocksData+
                '</div>'+
              '</div>'+
            '</div>' +
          '</div>' +
        '</div>';
      }else{

      }
      //getArduinosFromAPI(data[0].id);

    }
    $('#transmisores').append(rowData);

    for( var i = 0; i < data.length ; i++){
        //Tambien vamos creando los sockets
        if(data[i].sensors.length > 0){
          createSocket(data[i].id, data[i].arduino_token);
          console.log(allSockets);
        }

      for( var j = 0; j < data[i].sensors.length ; j++){
        //console.log(data[i].sensors[j]);
        getSensorsFromAPI(data[i].project,data[i].sensors[j].id, actualArduino,data[i].sensors[j],"");
      }

      //getSensorsFromAPI(data.project,data.sensors[i].id, actualArduino, i);
    }
  }



  function getSensorsFromAPI(proy_ID,sensor_ID, arduinoID,sens_info,query){

    var passData_proyectID  = proy_ID;
    var passData_sensorID   = sensor_ID;
    var passData_arduinoID  = arduinoID;
    var passData_sensInfo   = sens_info;

    var sensorQuery;

    if(query == "")
      sensorQuery = "last=1";
    /*
    console.log("*-----------");
    console.log(passData_proyectID);
    console.log(passData_arduinoID);
    console.log(passData_sensorID);
    console.log(urlApiBase + arduinosApi + actualArduino +'/sensors/'+ sensor_ID + '/data/');
    console.log("*-----------");
    */

    $.ajax({
      url: 'http://' + urlApiBase + arduinosApi + actualArduino +'/sensors/'+ sensor_ID + '/data/' + "?"+sensorQuery ,
      type: 'GET',
      contentType: 'json/application',
      dataType: 'json',
      processData: false,
      xhrFields: {
        withCredentials: false
      },
      headers: {
        'Authorization': tokenCode
      },
      success: function(data) {
        dataSensorsCallBack(proy_ID,data,passData_arduinoID,passData_sensorID,passData_sensInfo);
      },
      error: function() {
        console.log('Hubo un problema, SENSORES solucionalo...!');
      }
    });
  }

  var isFirstLoad = true;
  function dataSensorsCallBack(proy_ID,data, arduinoID, sensID, sensInfo ){

    if( data[0] !== undefined){
      if(sensInfo.data_key != 'field1'){
        //console.log(data);
        var passData_proyectID  = proy_ID;
        var passData_arduinoID  = arduinoID;
        var passData_sensID     = sensID;
        var passData_sensInfo   = sensInfo;

        $('#sens_'+sensID).html(data[0].data+'°');
        $('#min_'+sensID).html('Min. '+sensInfo.min_value+'°');
        $('#max_'+sensID).html('Max. '+sensInfo.min_value+'°');

      }else{

        var epoch = data[0].data;
        var d = new Date(0);
        d.setUTCSeconds(epoch);

        var day =  d.getDay() + 1;
        var month =  d.getMonth() + 1;

        var dateFormat = day +'/'+month+'/'+d.getFullYear();
        var timeFormat = d.getHours()+':'+d.getMinutes()+':'+d.getSeconds();

        $('#epoch_'+sensInfo.arduino).html('Ultima Actualización:  ' + dateFormat + '    ' + timeFormat);

        canUseSocket = true; //dejemos que vivan los sockets
      }
    }
    isFirstLoad = false;
  }


  function useWSData(msg){
    console.log('holo');
    console.log(msg);
  }

  //Pedimos a la API los datos de los sistemas
  function getArduinosFromAPI(sistema_ID){

    $.ajax({
      url: 'http://' + urlApiBase + arduinosApi + sistema_ID,
      type: 'GET',
      contentType: 'json/application',
      dataType: 'json',
      processData: false,
      xhrFields: {
        withCredentials: false
      },
      headers: {
        'Authorization': tokenCode
      },
      success: function(data) {
        console.log('SISTEMA SELECCIONADO ' +  sistema_ID);
        console.log(data);
        dataArduinosCallBack(data);
      },
      error: function() {
        console.log('Hubo un problema, solucionalo...!');
      }
    });
  }


  function dataArduinosCallBack( data ){
    console.log("Llego la información ARDUINO");

    _sysID = data.id;

    actualArduino = data.id; //ID del arduino seleccionado

    //Se borra el contenido de las tabs
    $('#tabs_content').html('');
    $('#tabs_header').html('');

    for(var i=0 ; i < data.sensors.length; i++){
      //Se llena el objeto de los datos.
      getSensorsFromAPI(data.project,data.sensors[i].id, actualArduino, i, data.sensors[i],"");
    }
  }




  function completeTimeFormat(hours, minutes, seconds) {
    if (hours < 10) {
      hours = "0" + hours;
    }
    if (minutes < 10) {
      minutes = "0" + minutes;
    }
    if (seconds < 10) {
      seconds = "0" + seconds;
    }
    return hours + ':' + minutes + ':' + seconds;
  }



function createDatePicker(sensID,min_date,max_date){
  //moment("12/25/1995", "MM-DD-YYYY");
  $('#daterange_'+sensID).daterangepicker({
    locale: {
     format: 'YYYY-MM-DD'
   },
   opens: "center",
   drops: "up",
   showWeekNumbers:true,
   minDate: moment(min_date,"YYYY-MM-DD"),
   maxDate: moment().add(1,'days'),
   startDate: moment(min_date,"YYYY-MM-DD"),
   endDate: moment(max_date,"YYYY-MM-DD")
  },
  function (start, end) {
      $('#daterange_'+sensID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
  });


var canUsePickerCallBack =  true;

  $("[id^=daterange_]").on('apply.daterangepicker', function(ev, picker) {

    var sensID =  $(this)[0].id;
    sensID     = sensID.replace("daterange_","");
    _sensID    = sensID;

    if(_activeTab == sensID && canUsePickerCallBack){
      canUsePickerCallBack = false;
      console.log("mismo de la tab seleccionada");
      //checar la tab activa y calidar que sea la misma
      //console.log(picker);
      console.log(picker.startDate.format('YYYY/MM/DD'));
      console.log(picker.endDate.format('YYYY/MM/DD'));

      //Aqui se manda a llamar el UPDATER de la grafica por fecha.
      //updateGraph(picker.startDate.format('YYYY/MM/DD'), picker.endDate.format('YYYY/MM/DD'));
    }
  });
}




  </script>

{% endblock content_js %}
