{% extends 'main_header.html' %}
{% load staticfiles %}

{% block main_content_wrapper %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        IoT - Dashboard - Selected IoT
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i>
            Home</a>
        </li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">


      <div class="row">
        <div class="col-md-6">
          <div class="box box-solid">
            <div class="box-header with-border">
              <i class="fa fa-adjust"></i>
              <h3 class="box-title">Información del Sensor</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
              <dl class="dl-horizontal">
                <dt>Proyecto</dt>
                <dd>
                  <a href="/dash/projects/{{arduinosensor.arduino.project.id }}" target="_self">
                    {{arduinosensor.arduino.project.name }}
                  </a>
                </dd>
                <dt>IoT</dt>
                <dd>
                  <a href="/dash/iot/{{arduinosensor.arduino.id }}" target="_self">
                    {{arduinosensor.arduino.name}}
                  </a>
                </dd>
                <dt>Tipo de Sensor</dt>
                <dd>{{ arduinosensor.arduino_sensor.name }}</dd>
                <dt># del Sensor en el IoT</dt>
                <dd>{{ arduinosensor.arduino_sensor.id }}</dd>
              </dl>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div><!-- ./col -->

        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3 id="ultimoValor">
                {{ arduinosensor.sensor_data.last.data }}
                <sup style="font-size: 20px">°</sup>
              </h3>
              <p>Ultimo valor</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">More info
              <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3 id="widget_Promedio">25,62</h3>
              <p>Promedio <span id="widget_TotalRegistros">(2,000)</span> registros</p>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <!-- ./col -->
      </div>




      <div class="row">
        <div class="col-xs-12">
          <!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">
                Graficas del Iot - Selected
              </h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
                <button class="btn btn-box-tool" data-widget="remove">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body"></div>
            <!-- /.box-body -->
            <div id="graphdiv"></div>
            <div class="box-footer clearfix">
              <a href="javascript::;" class="btn btn-sm btn-default btn-flat pull-right">

              </a>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
      </div>

    <div class="row">

      <div class="col-md-6">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Registros del Sensor</h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <table id="table_allData" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th> ID </th>
                  <th>Fecha </th>
                  <th>Valor</th>
                  <th>Estatus</th>
                </tr>
              </thead>
              <tbody>

              {% for data in arduinosensor.sensor_data.all %}
                <tr>
                  <td>{{ data.id  }}</td>
                  <td>{{ data.created_at }}</td>
                  <td>{{ data.data }}</td>
                  <td> <span class="badge bg-green">En rango</span> </td>
                </tr>
              {% endfor %}

              </tbody>
            </table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->

      </div><!-- /.col -->

      <div class="col-md-6">
        <div class="box box-solid">
          <div class="box-header with-border">
            <i class="fa fa-adjust"></i>
            <h3 class="box-title">Resumen de registros</h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <dl class="dl-horizontal">
              <dt>Registros taotales</dt>
              <dd id="totalRegistros">1,459</dd>
              <dt>Registros con riesgo</dt>
              <dd id="totalConRiesgo">200</dd>
              <dt>Alertas Enviadas</dt>
              <dd id="totalAlertas">2</dd>
              <dt>Promedio</dt>
              <dd id="totalPromedio">25,20</dd>
              <dt>Valor minimo</dt>
              <dd id="valorMinimo">21,55</dd>
              <dt>Valor maximo</dt>
              <dd id="valorMaximo">31,78</dd>
            </dl>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- ./col -->

    </div><!-- /.row -->





    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock main_content_wrapper %}

{% block content_js %}

  <script src="{% static 'plugins/dygraphs/dygraph-combined.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/ws4redis.js' %}"></script>
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>


  <script type="application/javascript">
  var tableNameID = '#table_allData';
  var tokenCode = 'Token 913ac3cc5ae3a881e238b1cd9fbfa70a75bc1237';
  var allData;
  var urlApi = 'http://192.168.1.66:8000/api/arduinos/{{ arduinosensor.arduino.id }}/sensors/{{ arduinosensor.id }}/data/';

  var _arduino;
  var _sensors;
  var _sensors_data;

  var promedio=0,
      media=0,
      valorMaximo=0,
      valorMinimo=0,
      totalRegistros=0,
      totalAlertas=0,
      totalRiesgo=0;

    $(document).ready(function(){
      //console.log(urlApi);
      allData = getDataFromAPI();
    });

    $(tableNameID).DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "pageLength": 5
    });


    function getDataFromAPI(){
      //Peticion AJAX de los datos
      $.ajax({
        url: urlApi,
        type: 'GET',
        contentType: 'json/application',
        dataType: 'json',
        processData: false,
        xhrFields: {
          withCredentials: false
        },
        headers: {
          'Authorization': tokenCode
        },
        success: function(data) {
          console.log('AJAX API SUCCESS!');
          //Se hara un return con el JSON obtenido en la API
          //console.log(data);
          dataCallBack(data);
        },
        error: function() {
          console.log('boo!');
        }
      });
    }

    function dataCallBack(data){
      totalRegistros = data.length;

      var tmpPromedio=0;
      var tmpValue=0;

      for(var i=0; i < data.length ; i++){
        tmpValue = parseInt(data[i]['data']);
        tmpPromedio += tmpValue;

        if(i == 0){
          valorMinimo = tmpValue;
          valorMaximo = tmpValue;
        }

        if( tmpValue < valorMinimo   )
          valorMinimo = tmpValue;

        if( tmpValue > valorMaximo )
          valorMaximo = tmpValue;
      }

      promedio = tmpPromedio/totalRegistros;

      //Escribimos los valores en el html
      $('#totalRegistros').html(totalRegistros);
      $('#totalConRiesgo').html('000');
      $('#totalAlertas').html('000');
      $('#totalPromedio').html(promedio.toFixed(2));
      $('#valorMinimo').html(valorMinimo);
      $('#valorMaximo').html(valorMaximo);

      $('#widget_Promedio').html(promedio.toFixed(2));
      $('#widget_TotalRegistros').html(totalRegistros);

      createGraph(data);
    }

  function createGraph(data) {
    _sensors_data = data;

    var sensor_data_chart = [];
    var sensor_date_chart = [];

    var dygraphs_data = [];

    for (var i = 0; i < _sensors_data.length; i++) {
      sensor_data_chart.push(_sensors_data[i]['data']);

      var d = new Date(_sensors_data[i]['created_at']);
      var d_days = d.getDate() + "/" + d.getMonth() + "/" + d.getFullYear();
      var d_time = completeTimeFormat(d.getHours(), d.getMinutes(), d.getSeconds());
      sensor_date_chart.push(d_time);

      dygraphs_data.push([d, _sensors_data[i]['data'], "100", "250"]);

    }

    /*
    console.log("LABELS");
    console.log(sensor_date_chart);

    console.log("SERIES");
    console.log(sensor_data_chart);

    console.log("a verssss");
    console.log(dygraphs_data);
    */
    g = new Dygraph(document.getElementById("graphdiv"), dygraphs_data, {
      drawPoints: true,
      showRoller: true,
      valueRange: [
        0, 300
      ],
      height: 400,
      //width: 100%,
      highlightSeriesBackgroundAlpha: 0.8,
      fillGraph: true,
      includeZero: true,
      strokeWidth: 3,
      //showRangeSelector: true,
      labels: ['Tiempo', 'Temperatura', 'Min', 'Max']
    });

  }

  function completeTimeFormat(hours, minutes, seconds) {
    if (hours < 10) {
      hours = "0" + hours;
    }
    if (minutes < 10) {
      minutes = "0" + minutes;
    }
    if (seconds < 10) {
      seconds = "0" + seconds;
    }
    return hours + ':' + minutes + ':' + seconds;
  }

  </script>
{% endblock content_js %}




{% block ws %}

    var ws4redis = WS4Redis({
      uri: 'ws://192.168.15.17:8000/ws/foobar?subscribe-broadcast&publish-broadcast&echo',
      connecting: on_connecting,
      connected: on_connected,
      receive_message: receiveMessage,
      disconnected: on_disconnected,
      heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
    });

    // attach this function to an event handler on your site
    function sendMessage() {
      ws4redis.send_message('A message');
    }

    function on_connecting() {
      alert('Websocket is connecting...');
    }

    function on_connected() {
      ws4redis.send_message('Hello');
    }

    function on_disconnected(evt) {
      alert('Websocket was disconnected: ' + JSON.stringify(evt));
    }

    // receive a message though the websocket from the server
    function receiveMessage(msg) {
      var jso = JSON.parse(msg);
      //console.log(jso);
      console.log('Message from Websocket: ' + msg);

    }
{% endblock ws %}
