{% extends 'main_header.html' %}
{% load staticfiles %}


{% load arduino_tags %}

{% block main_content_wrapper %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{ arduino.name }}
        <small>Sistema Seleccionado</small>
      </h1>
      <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i>
            Home</a>
        </li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
          <div class="row">
            <div class="col-md-6">
              <div class="box box-solid">
                <div class="box-header with-border">
                  <i class="fa fa-adjust"></i>
                  <h3 class="box-title">Información del Sistema</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <dl class="dl-horizontal">
                    <dt>Nombre  </dt>
                    <dd>{{ arduino.name }} </dd>
                    <dt>Ubicación</dt>
                    <dd>{{ arduino.location }} </dd>
                    <dt>ID del IoT </dt>
                    <dd> {{ arduino.id }} </dd>
                    <dt>Versión</dt>
                    <dd> V. 0.0{{ arduino.id }} </dd>
                  </dl>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- ./col -->

            <div class="col-md-6">
              <div class="box box-solid">
                <div class="box-header with-border">
                  <i class="fa fa-adjust"></i>
                  <h3 class="box-title">Información del Sistema</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <dl class="dl-horizontal">
                    <dt>Cabtidad de Sensores</dt>
                    <dd>{{ arduino.sensors.count }} </dd>
                    <dt>Estatus</dt>
                    <dd><span class="label label-success">Correcto</span></dd>
                    <dt>Configuración de Alertas</dt>
                    <dd>
                      <a href="#">
                        <i class="fa fa-edit"></i>
                        Configurar
                      </a>
                    </dd>
                  </dl>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- ./col -->
          </div>


      <div class="row">
        <div class="col-xs-12">
          <!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">
                Lista de sensores
              </h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
                <button class="btn btn-box-tool" data-widget="remove">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table id="table_sistemas" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Sensor ID</th>
                      <th>Tipo de Sensor</th>
                      <th>Ubicación</th>
                      <th>Ultimo Fecha</th>
                      <th>Ultimo Valor</th>
                      <th>Estatus </th>
                      <th> </th>
                    </tr>
                  </thead>
                  <tbody>

                    {% for sensor in arduino.arduino_sensors.all %}
                      <tr>
                        <td> <a href="/dash/sensor/{{sensor.id}}">SENSOR-00{{sensor.index}}</a> </td>
                        <td>{{ sensor.sensor_type.name }}</td>
                        <td>{{ sensor.description }}</td>
                        <td>{{ sensor.sensor_data.last.created_at }}</td>
                        <td>{{ sensor.sensor_data.last.data }}</td>
                        {% if  arduino.id|isEven == 0%}
                          <td> <span class="label label-danger">{{arduino.get_estatus_display }}</span> </td>
                        {% else %}
                          <td> <span class="label label-success">{{arduino.get_estatus_display }}</span> </td>
                        {% endif %}
                        <td>
                          <div class="btn-group">
                            <a href="/dash/sensor/{{sensor.id}}" target="_self">
                              <button  type="button" class="btn btn-success">Grafica</button>
                            </a>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>

      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock main_content_wrapper %}



{% block content_js %}
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
  <!-- page script -->
<script type="application/javascript">

  $(function () {
    $('#table_sistemas').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": false,
      "autoWidth": false
    });
  });

</script>

{% endblock content_js %}
