{% extends 'main_header.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load arduino_tags %}


{% block main_content_wrapper %}



  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <b>Descargar lecturas del transmisor:</b> {{arduino.name}}
        <small>
          <b>Proyecto:</b> {{arduino.project}}
        </small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content hidden">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">
                Resumen de Alertas
              </h3>
            </div>
            <div class="box-body">
              {{arduino.id}}<br/>



              {% for sens in arduino.arduino_sensors.all %}
                {{sens.id}}<br/>
              {% endfor %}

            </div>
          </div>
          </div>
        </div>
      </section>


  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">
              Seleccione el sensor y rango de fechas de las lecturas para descargar
            </h3>
          </div>
            <form class="form-horizontal" role="form" action="" method="post">
            <div class="box-body">
                {% csrf_token %}
                <div class="form-group">
                  <label for="input" class="col-sm-2 control-label">
                    Fechas de las lecturas:
                  </label>
                  <div class="col-sm-10">
                   <button type="button" class="btn btn-default pull-left"  id="daterange">
                     <span><i class="fa fa-calendar"></i>
                       Seleccionar
                     </span><i class="fa fa-caret-down"></i>
                   </button>
                  </div>
                  <div class="col-sm-10">
                    <span id="dates"></span>
                  </div>
                </div>

                {% for field in form %}
                <div class="form-group">
                    <label for="input" class="col-sm-2 control-label" id="form_{{forloop.counter0}}">
                      {{ field.label }}
                    </label>
                    <div class="col-sm-10">
                       {% render_field field class="form-control" %}
                    </div>
                </div>
                {% endfor %}
                <div class="col-sm-offset-2 col-sm-8">
                  {{form.errors}}
                  {{form.non_field_errors}}
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <a href="{% url 'main' %}" class="btn btn-default">Regresar</a>
              <button type="submit" class="btn btn-primary">Descargar</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        </div><!-- /.box -->
      </div>
    </section>




  </div>


{% endblock main_content_wrapper %}



{% block content_js %}
  <script type="application/javascript">
  var site_url = "{{ site_url }}";


  $(document).ready(function(){
    console.log(site_url);



    $("#form_0").hide();
    $("#id_min_time").hide();
    $("#form_1").hide();
    $("#id_max_time").hide();

    {% for sens in arduino.arduino_sensors.all %}
      {% if  sens.data_key == "field1" %}
        var idEpoch = {{sens.id}};
      {% endif %}
    {% endfor %}
    //$('#id_sensor option[value='+idEpoch+']').remove();




  });


  $('#daterange').daterangepicker({
    locale: {
     format: "MM/DD/YYYY h:mm A",
     "separator": " - ",
     applyLabel: "Aplicar",
     cancelLabel: "Cancelar",
     fromLabel: "Del",
     toLabel: "Al",
     daysOfWeek: [
          "Dom",
          "Lun",
          "Mar",
          "Mie",
          "Jue",
          "Vie",
          "Sab"
      ],
      monthNames: [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
      ],
   },
   opens: "center",
   drops: "down",
   showWeekNumbers:true,
   timePicker: true,
   timePickerIncrement: 10,
   minDate: moment().subtract(40, 'days'), //moment(min_date,"YYYY-MM-DD"),
   maxDate: moment().add(1,'days'),
   startDate: moment(), //moment(min_date,"YYYY-MM-DD"),
   endDate: moment() //moment(max_date,"YYYY-MM-DD")
  },
  function (start, end) {

    filter_date_start = start.format('YYYY-MM-DD HH:mm');
    filter_date_end   = end.format('YYYY-MM-DD HH:mm');

    var epoch_start   = Date.parse(filter_date_start) + "";
    var epoch_end     = Date.parse(filter_date_end)   + "";

    epoch_start = epoch_start.substring(0,(epoch_start.length-3));
    epoch_end   = epoch_end.substring(0,(epoch_end.length-3));

    $("#dates").html("Fechas seleccionadas<b>" + filter_date_start+'</b> al <b>' +filter_date_end + '</b>' );

    console.log(epoch_start);
    console.log(epoch_end);

    $("#id_min_time").val(epoch_start);
    $("#id_max_time").val(epoch_end);
  });

</script>
{% endblock content_js %}
