{% extends 'main_header.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load arduino_tags %}

{% block content_css %}

<style>
  #graphData{
    font-size:20px;
  }
  .bg-dark-green{
    color: white;
    background-color: #027c43 !important;
  }
  #graphdiv{
    display:block;
    background-color: #f0f0f0 !important;
  }

</style>

{% endblock content_css %}


{% block main_content_wrapper %}



  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <b>Alertas e Historico de lecturas</b>
          <small>
            <b>Transmisor</b>
          </small>
          <b>{{arduino.name}}</b>
      </h1>
    </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-xs-12" id="block_alerts_active">
        <div class="box box-danger">
          <div class="box-header with-border">
            <h3 class="box-title">
              ALERTAS ACTIVAS EN PROGRESO
            </h3>
            <div class="box-tools pull-right">
              <button class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body">

            <div class="table">
              <table id="table_alerts_active" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Nombre Sensor</th>
                    <th>Fecha alerta generada</th>
                    <th>Fecha alerta finalizada</th>
                    <th>Último valor de alerta registrado</th>
                    <th>Última fecha del valor registrado</th>
                    <th># Registros fuera de rango</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                {% if alert %}
                  {% for sensor_alert in alert.sensor_alerts %}

                  <tr id="alert_{{alert.id}}">
                    <td>
                      <b>{{ sensor_alert.description}}</b>
                    </td>
                    <td>
                      {{ sensor_alert.data.first.epoch|epoch2Date }}
                    </td>
                    <td>
                      {{ sensor_alert.finished_at|epoch2Date }}
                    </td>
                    <td align="center">
                      Min. {{ sensor_alert.min_value|floatformat:2}}{{ sensor_alert.sensor_type.subfix}}
                      <br/>
                      <b>Valor:
                        {{ sensor_alert.data.last.data|floatformat:2}}{{ sensor_alert.sensor_type.subfix}}
                      </b>
                      <br/>
                      Max. {{ sensor_alert.max_value|floatformat:2}}{{ sensor_alert.sensor_type.subfix}}
                      <div id="minmax_{{ sensor_alert.id}}" class="hidden">
                        {{ sensor_alert.min_value|floatformat:2}}_
                        {{ sensor_alert.max_value|floatformat:2}}
                      </div>
                    </td>
                    <td align="center">
                      <div class="epoch2Date_{{ sensor_alert.data.last.id}}">
                      {{ sensor_alert.data.last.epoch}}
                      </div>
                    </td>
                    <td align="center">
                      {{ sensor_alert.data.count }}
                      <div class="hidden" id="sensor_{{ sensor_alert.id}}" class="" align="center">
                        api/arduinos/{{ alert.arduino.id}}/sensors/{{ sensor_alert.id}}/data/?min_time={{ sensor_alert.data.first.epoch| add:-600 }}&max_time={{ sensor_alert.data.last.epoch| add:600}}
                      </div>
                    </td>
                    <td  align="center">
                      <div class="btn-group">
                        <a href="/dash/alerts/{{ alert.id}}" id="detalle_{{ alert.id}}" class="btn btn-success">Ver Detalle</a>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xs-12" id="block_alerts_inactive">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">
              HISTORICO DE ALERTAS
            </h3>
            <div class="box-tools pull-right">
              <button class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body">
            <div class="table">
              <table id="table_alerts_inactive" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Nombre Sensor</th>
                    <th>Fecha alerta generada</th>
                    <th>Fecha alerta finalizada</th>
                    <th>Último valor de alerta registrado</th>
                    <th>Última fecha del valor registrado</th>
                    <th># Registros fuera de rango</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                {% if inactive_alerts %}
                  {% for alert in inactive_alerts %}
                  {% for sensor_alert in alert.sensor_safe_alerts %}
                  <tr id="alert_{{alert.id}}">
                    <td>
                      <b>{{ sensor_alert.description}}</b>
                    </td>
                    <td>
                      {{ sensor_alert.data.first.epoch|epoch2Date }}
                    </td>
                    <td>
                      {{ sensor_alert.finished_at|epoch2Date }}
                    </td>
                    <td align="center">
                      Min. {{ sensor_alert.min_value|floatformat:2}}{{ sensor_alert.sensor_type.subfix}}
                      <br/>
                      <b>Valor:
                        {{ sensor_alert.data.last.data|floatformat:2}}{{ sensor_alert.sensor_type.subfix}}
                      </b>
                      <br/>
                      Max. {{ sensor_alert.max_value|floatformat:2}}{{ sensor_alert.sensor_type.subfix}}
                      <div id="minmax_{{ sensor_alert.id}}" class="hidden">
                        {{ sensor_alert.min_value|floatformat:2}}_
                        {{ sensor_alert.max_value|floatformat:2}}
                      </div>
                    </td>
                    <td align="center">
                      <div class="epoch2Date_{{ sensor_alert.data.last.id}}">
                      {{ sensor_alert.data.last.epoch }}
                      </div>
                    </td>
                    <td align="center">
                      {{ sensor_alert.data.count }}
                      <div class="hidden" id="sensor_{{ sensor_alert.id}}" class="" align="center">
                        api/arduinos/{{ alert.arduino.id}}/sensors/{{ sensor_alert.id}}/data/?min_time={{ sensor_alert.data.first.epoch| add:-600 }}&max_time={{ sensor_alert.data.last.epoch| add:600}}
                      </div>
                    </td>
                    <td  align="center">
                      <div class="btn-group">
                        <a href="/dash/alerts/{{ alert.id}}" id="detalle_{{ alert.id}}" class="btn btn-success">Ver Detalle</a>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                  {% endfor %}
                {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
  </section>


  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">
              Seleccione el sensor y rango de fechas de las lecturas a descargar
            </h3>
          </div>
            <form class="form-horizontal" role="form" action="" method="post">
            <div class="box-body">
                {% csrf_token %}
                <div class="form-group">
                  <label for="input" class="col-sm-2 control-label">
                    Fechas de lectura:
                  </label>
                  <div class="col-sm-10">
                   <button type="button" class="btn btn-default pull-left"  id="daterange">
                     <span><i class="fa fa-calendar"></i>
                       Seleccionar
                     </span><i class="fa fa-caret-down"></i>
                   </button>
                  </div>
                  <div class="col-sm-10">
                    <span id="dates"></span>
                  </div>
                </div>

                {% for field in form %}
                <div class="form-group">
                    <label for="input" class="col-sm-2 control-label" id="form_{{forloop.counter0}}">
                      {{ field.label }}
                    </label>
                    <div class="col-sm-10">
                       {% render_field field class="form-control" %}
                    </div>
                </div>
                {% endfor %}
                <div class="col-sm-offset-2 col-sm-8">
                  {{form.errors}}
                  {{form.non_field_errors}}
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <a href="{% url 'main' %}" class="btn btn-default">Regresar</a>
              <button type="submit" class="btn btn-primary">Descargar</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        </div><!-- /.box -->
      </div>
    </section>




    <div class="modal fade modal-gray" id="detalle_grafica">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Grafica de comportamiento de la ALERTA</h4>
          </div>
          <div class="modal-body">
            <div>Información del punto de la gráfica: <span id="graphData"></span></div>
            <br/><br/><br/>
            <div id="graphdiv"></div>
          </div>
        </div>
      </div>
    </div>

</div>

{% endblock main_content_wrapper %}



{% block content_js %}
<script src="{% static 'plugins/dygraphs/dygraph-combined.js' %}"></script>
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
  <script type="application/javascript">

  $('#verDetalle').on('shown.bs.modal', function () {
    $('#myInput').focus()
  });


  var g ; // variable de la grafica
  var sensor_data_chart = [];
  var sensor_date_chart = [];
  var dygraphs_data = [];

  var site_url = "{{ site_url }}";
  var ws_url = 'ws://' + site_url;
  var urlApi = 'http://' + site_url + '/';

  console.log(site_url);
  console.log(ws_url);
  //ws_url = ws_url.replace("","");

  if(site_url == 'sensait.dyndns.org'){
    tokenCode = 'Token d7e7f378cdc67dcd7cec11b76e017927c3e73bc3';
  }else{
    tokenCode   = 'Token 6b4f2e70ae0d435bf512897355947fe0a564972a';
    //Para cuando se accede desde la RED local el server
    if( site_url == "192.168.253.31"){
      tokenCode = 'Token d7e7f378cdc67dcd7cec11b76e017927c3e73bc3';
    }
  }


  $(function () {
    $('#table_alerts_inactive').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": false,
      "autoWidth": false
    });

    $('#table_alerts_active').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": false,
      "autoWidth": false
    });
  });

  $(document).ready(function(){
    countAlerts();
    console.log(site_url);

    $("#form_0").hide();
    $("#id_min_time").hide();
    $("#form_1").hide();
    $("#id_max_time").hide();

    {% for sens in arduino.arduino_sensors.all %}
      {% if  sens.data_key == "field1" %}
        var idEpoch = {{sens.id}};
      {% endif %}
    {% endfor %}
    //$('#id_sensor option[value='+idEpoch+']').remove();

    $( "[class^=epoch2Date_]" ).each(function() {
      var div_ID = $(this).attr('class');
      $('.'+div_ID).html(convertEpoch2Date( $( this ).text() ));
    });
  });

  function convertEpoch2Date(epochData){

    epochData = epochData.trim();

    if(parseInt(epochData) > 10000 ){
      var actualDate = new Date();

      var d = new Date(parseInt(epochData)*1000);
      var day     =  d.getDate() +'';
      var month   =  d.getMonth() + 1 +'';
      var hour    =  d.getHours() +'';
      var minutes =  d.getMinutes()+'';
      var seconds =  d.getSeconds()+'';

      //NO me gusta... pero no se me ocurre otra forma...
      if(day.length == 1)
        day = '0'+day;
      if(month.length == 1)
        month = '0'+month;
      if(hour.length == 1)
        hour = '0'+hour;
      if(minutes.length == 1)
        minutes = '0'+minutes;
      if(seconds.length == 1)
        seconds = '0'+seconds;

      var dateFormat = day +'/'+month+'/'+d.getFullYear();
      var timeFormat = hour+':'+minutes+':'+seconds;

      return dateFormat + '               <b>' + timeFormat + '</b>';
    }else{
      return "Formato de Fecha Invalido";
    }
  }

  function countAlerts(){
    var alert_active    = 0;
    var alert_inactive  = 0;

    {% for alert in arduino.alerts.all %}
      {% if alert.active ==  True %}
        alert_active++;
      {% else %}
        alert_inactive++;
      {% endif %}
    {% endfor %}

    if(alert_active == 0 )
      $('#block_alerts_active').hide();

    if(alert_inactive == 0 )
      $('#block_alerts_inactive').hide();
  }

  $("[id^=detalle_]").click(function(){

    $('#detalle_grafica').modal('show');

    console.log(g);
    g = null;
    $('#graphdiv').html('');

    if(g != null ){
      g.destroy();
      g = null;
      $('#graphdiv').html('');
    }

    var click_ID = $(this)[0].id;
    click_ID = click_ID.split("_");
    click_ID = click_ID[1];

    var queryText = $('#sensor_'+click_ID).text();
    queryText = queryText.trim();
    queryText = queryText.replace(" ","");

    getDataFromAPI(queryText ,click_ID );
  });


  function getDataFromAPI(query, sensor_ID){

    console.log(urlApi + query);
    $.ajax({
      url: urlApi + query ,
      type: 'GET',
      contentType: 'json/application',
      dataType: 'json',
      processData: false,
      xhrFields: {
        withCredentials: false
      },
      headers: {
        'Authorization': tokenCode
      },
      success: function(data) {
        if(data.length > 0){
          dataCallBack(data,sensor_ID);
        }
        else{
          if(g != null || typeof g == 'undefined'){
            g.destroy();
            g = null;
          }
          $('#graphdiv').html("Lo sentimos, no se encontraron registros con ese filtro aplicado, favor de especificar otro. ");
        }
      },
      error: function() {
        console.log('boo!');
      }
    });
  }

  function dataCallBack(data,sensor_ID){
    console.log(data);
    sensor_data_chart = [];
    sensor_date_chart = [];
    dygraphs_data =  [];
    _sensors_data = "";
    createGraph(data,sensor_ID);
  }


  function createGraph(data, sensor_ID) {
    _sensors_data = null;
    sensor_data_chart = [];
    sensor_date_chart = [];
    dygraphs_data =  [];

    _sensors_data = data;

    console.log("data");
    console.log(data);
    console.log(_sensors_data);

    for (var i = 0; i < _sensors_data.length; i++) {
      console.log(_sensors_data);
      if(_sensors_data[i]['data'] != "-127.00" && parseInt(_sensors_data[i]['epoch']) > 100000) {
        sensor_data_chart.push(_sensors_data[i]['data']);

        var d = new Date(parseInt(_sensors_data[i]['epoch'])*1000);
        var d_days = d.getDate() + "/" + d.getMonth() + "/" + d.getFullYear();
        var d_time = completeTimeFormat(d.getHours(), d.getMinutes(), d.getSeconds());

        sensor_date_chart.push(d_time);

        var minMax = $('#minmax_'+sensor_ID).text();
        minMax = minMax.trim();
        minMax = minMax.replace(/\n|\r/g, "");
        minMax = minMax.replace(" ","");
        minMax = minMax.replace("                       ","");
        minMax = minMax.split("_");
        minMax[0] = Number(minMax[0]).toFixed(2)+"";
        minMax[1] = Number(minMax[1]).toFixed(2)+"";

        dygraphs_data.push([d, _sensors_data[i]['data'], minMax[0], minMax[1]]);
      }
    }

    if(g != null ){
      g.destroy();
      g = null;
      $('#graphdiv').html('');
    }
    //console.log(dygraphs_data);

    if(dygraphs_data.length != 0 ){
      g = new Dygraph(document.getElementById("graphdiv"), dygraphs_data, {
        drawPoints: true,
        showRoller: true,
        height: 500,
        width:800,
        highlightSeriesBackgroundAlpha:1,
        fillGraph: false,
        includeZero: false,
        connectSeparatedPoints:true,
        drawGapEdgePoints:true,
        drawPoints:true,
        pointSize:3,
        strokeWidth:3,
        rightGap:20,
        legend:"always",
        highlightCircleSize:5,
        showRoller:true,
        hideOverlayOnMouseOut:false,
        labelsDiv: document.getElementById('graphData'),
        labels: ['Tiempo', 'Valor Registrado', 'Min.', 'Max.'],
        colors:['#f7a508','#c22721','#929423']
      });

      canUseSocket = true;

    }else{
      $('#graphdiv').html(' No se encontraron registros validos.');
    }
  }



  $('#daterange').daterangepicker({
    locale: {
     format: "MM/DD/YYYY h:mm A",
     "separator": " - ",
     applyLabel: "Aplicar",
     cancelLabel: "Cancelar",
     fromLabel: "Del",
     toLabel: "Al",
     daysOfWeek: [
          "Dom",
          "Lun",
          "Mar",
          "Mie",
          "Jue",
          "Vie",
          "Sab"
      ],
      monthNames: [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
      ],
   },
   opens: "center",
   drops: "down",
   showWeekNumbers:true,
   timePicker: true,
   timePickerIncrement: 10,
   minDate: moment().subtract(40, 'days'), //moment(min_date,"YYYY-MM-DD"),
   maxDate: moment().add(1,'days'),
   startDate: moment(), //moment(min_date,"YYYY-MM-DD"),
   endDate: moment() //moment(max_date,"YYYY-MM-DD")
  },
  function (start, end) {

    filter_date_start = start.format('YYYY-MM-DD HH:mm');
    filter_date_end   = end.format('YYYY-MM-DD HH:mm');

    var epoch_start   = Date.parse(filter_date_start) + "";
    var epoch_end     = Date.parse(filter_date_end)   + "";

    epoch_start = epoch_start.substring(0,(epoch_start.length-3));
    epoch_end   = epoch_end.substring(0,(epoch_end.length-3));

    $("#dates").html("Fechas seleccionadas<b>" + filter_date_start+'</b> al <b>' +filter_date_end + '</b>' );

    console.log(epoch_start);
    console.log(epoch_end);

    $("#id_min_time").val(epoch_start);
    $("#id_max_time").val(epoch_end);
  });

  function completeTimeFormat(hours, minutes, seconds) {
    if (hours < 10) {
      hours = "0" + hours;
    }
    if (minutes < 10) {
      minutes = "0" + minutes;
    }
    if (seconds < 10) {
      seconds = "0" + seconds;
    }
    return hours + ':' + minutes + ':' + seconds;
  }
</script>
{% endblock content_js %}
