{% extends 'main_header.html' %}
{% load staticfiles %}

{% load arduino_tags %}

{% block content_css %}

<style>
  .pickers{
    display:block;
    clear:both;
  }
  .card-ok{
    background: #088049;
  }
  .card-alert{
    background: #AE4A3A;
  }

  .cards-base{
    width: 250px;
    display:inline-block;
    margin:5px;
    border-radius: 25px;
  }
  .card-txt-sensor{
    font-size: 14px;
    font-weight: bold;
    color:white;
    width: 100%;
    display: block;
    text-align: center;
  }
  .card-txt-data{
    font-size: 34px;
    font-weight: bold;
    color:white;
    width: 100%;
    display: block;
    text-align: center;
  }
  .card-txt-minmax{
    font-size: 16px;
    color:white;
    width: 47%;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
  }
  .card-txt-date{
    font-size: 16px;
    color:white;
    width: 100%;
    display: block;
    text-align: right;
  }
</style>

{% endblock content_css %}


{% block main_content_wrapper %}

  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      LISTA DE TRANSMISORES
      <small>activos</small>
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">

  <!-- /.Div para los transmisores y sus respectivos sensores. -->
  <div id="transmisores" class="">
  </div>

  <div id="canChangeProject" class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">
            Ver otras Instalaciónes
          </h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div id ="my_projects" class="table">
            <table id="table_projects"  class="table no-margin">
              <thead>
                <tr>
                  <th>Proyecto ID</th>
                  <th>Nombre Proyecto </th>
                  <th>No. Transmisores</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>

                {% for project in project_list %}
                <tr id="proy_{{project.id}}" >
                  <td>
                    PROY00{{project.id}}
                  </td>
                  <td>
                    {{project.name}}
                </td>
                  <td>
                    {{project.arduinos.count}}
                  </td>
                  <td>
                    {%if forloop.counter0	== 0 %}
                      <button  id="activar_{{project.id}}" type="button" class="btn btn-info">Activo</button>
                    {% else %}
                      <button  id="activar_{{project.id}}" type="button" class="btn btn-default">Seleccionar</button>
                    {% endif%}
                  </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div><!-- /.box -->
  </div>

  </section>
    <!-- /.content -->
</div>
  <!-- /.content-wrapper -->

{% endblock main_content_wrapper %}


{% block content_js %}
  <script type="text/javascript" src="{% static 'js/ws4redis.js'  %}"></script>

  <script src="{% static 'plugins/momentjs/moment.min.js' %}"></script>

  <script src="{% static 'plugins/dygraphs/dygraph-combined.js' %}"></script>
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>

  <!-- page script -->

  <script type="application/javascript">

  // Validamos el entorno donde estamos trabajando
  //Tambien tomamos la IP dinamica para ya no moverle :3
  //##############################

  var site_url = "{{ site_url }}";
  var ws_url = 'ws://' + site_url;

  var urlApiBase;

  var tokenCode = 'Token d7e7f378cdc67dcd7cec11b76e017927c3e73bc3';
  urlApiBase = site_url+'/api/'

  //##############################

  // JQUERY para los DATA TABLES Y CALENDARIOS
  //##############################

  $('#table_projects').DataTable({
    "paging": false,
    "lengthChange": false,
    "searching": false,
    "ordering": false,
    "info":false,
  });

  $("[id^='blocksens_']").DataTable({
    "paging": false,
    "lengthChange": false,
    "searching": false,
    "ordering": false,
    "info":false,
  });

  //##############################

  //##############################
  //      SOCKETS & SU MAGIA
  //##############################

  var canUseSocket = false;

  var allSockets = [];

  function createSocket(arduinoID, arduinoToken){
    var ws4redis = WS4Redis({
      uri: ws_url+'/ws/arduino/'+arduinoToken,
      //'ws://sensait.dyndns.org/ws/{{arduinosensor.arduino.arduino_token}}?subscribe-broadcast&publish-broadcast&echo',
      //':'+userPort+
      connecting: on_connecting,
      connected: on_connected,
      receive_message: receiveMessage,
      disconnected: on_disconnected,
      heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
    });
    allSockets.push(ws4redis);
  }

    // attach this function to an event handler on your site
    function sendMessage() {
      ws4redis.send_message('A message');
    }

    function on_connecting() {
      alert('Websocket is connecting...');
    }

    function on_connected() {
      ws4redis.send_message('Hello');
    }

    function on_close(){
      console.log("close socket")
      ws4redis.onclose();
      ws4redis.on_close();
      ws4redis.close();
    }

    function on_disconnected(evt) {
      alert('Websocket was disconnected: ' + JSON.stringify(evt));
    }

    // receive a message though the websocket from the server
    function receiveMessage(msg) {
      console.log(msg);
      useWSData(msg);
    }

  //##############################
  //  END -- SOCKETS & SU MAGIA
  //##############################

  //Variable que tendra todos los registros de los sensores y su info.
  var allData     = [];
  var _activeTab  = 0 ;     //Tab seleccionada
  var _proyID     = 0 ;     //Proyecto seleccionada
  var _sysID      = 0 ;     //Systema seleccionada
  var _sensID     = 0 ;     //Sensor seleccionada

  var proyectNames    = [] ;
  var firstProjectID  = 0;
  var counterProject = 0;
  {% for project in project_list %}
    var name = '{{project.name}}';
    proyectNames[{{project.id}}] = '{{project.name}}';
    if(counterProject == 0 ){
      firstProjectID = {{project.arduinos.first.id}};
      counterProject++;
    }
  {% endfor %}

  var actualProject = ' ' ;
  var actualArduino = ' ' ;
  var projectsApi   = 'projects/'+firstProjectID+'/';
  var arduinosApi   = 'arduinos/';
  var sensorsApi    = 'sensors/idsensor/data/';

  var _sensors_data;

  $(document).ready(function(){
    //Utilizamos los datos iniciales de los proyectos
    if( {{ project_list.count }} == 1){
      $("#canChangeProject").hide();
    }

    console.log("{{ holo }}");

    //canChangeProject

    actualProject = {{ project_list.first.id }} ;

    actualArduino = firstProjectID; //{{project_list.first.arduinos.first.id}};

    if(actualArduino == null)
      actualArduino = 1;

    _proyID = actualProject;

    console.log(proyectNames);
    //console.log( allData );
    getArduinosFromProject( _proyID );
  });

  $("[id^=activar_]").click(function(){

    console.log( $(this)[0].id );
    $('#transmisores').html("CARGANDO...");

    var project_selected_ID =  $(this)[0].id;

    project_selected_ID     = project_selected_ID.replace("activar_","");

    for(var i=0; i < allSockets.length; i++){
      allSockets[i].on_close;
      allSockets[i].onclose;
      allSockets[i].close;

      allSockets[i] = null;
    }
    allSockets = [];

    var idKeys = Object.keys(proyectNames);
    _proyID = project_selected_ID;

    for(var i=0; i<idKeys.length; i++){
      $("#activar_"+idKeys[i]).removeClass('btn-info');
      $("#activar_"+idKeys[i]).addClass('btn-default');
      $("#activar_"+idKeys[i]).html('Seleccionar');
    }

    $("#activar_"+_proyID).addClass('btn-info');
    $("#activar_"+_proyID).html('Activo');

    getArduinosFromProject( _proyID );
  });



  //Pedimos a la API los datos de los sistemas
  function getArduinosFromProject(proyect_ID){

    $.ajax({
      url: 'http://' + urlApiBase + arduinosApi + '?project='+_proyID,
      type: 'GET',
      contentType: 'json/application',
      dataType: 'json',
      processData: false,
      xhrFields: {
        withCredentials: false
      },
      headers: {
        'Authorization': tokenCode
      },
      success: function(data) {
        console.log('PROYECTO SELECCIONADO ' +  proyect_ID);
        //console.log(data);
        dataProjectCallBack(data);
      },
      error: function() {
        console.log('Hubo un problema, solucionalo...!');
      }
    });
  }

  function dataProjectCallBack( data ){
    console.log("---dataProjectCallBack-------****");
    console.log(data);
    console.log("----------****");

    $('#transmisores').html(" ");

    var rowData = "";

    for( var i = 0; i < data.length ; i++){
      if(data[i].sensors.length > 0 ){
        var blocksData = " ";
        var epochData  = " ";
        var epochID    = 0 ;

        epoch_div = "";

        for( var j = 0; j < data[i].sensors.length ; j++){
          var description = data[i].sensors[j].description;
          var dataKey     = data[i].sensors[j].data_key;
          var sensID      = data[i].sensors[j].id;

          //if(dataKey == "field3" || dataKey == "field2")
          epochID = sensID;

          if(dataKey === "field1"){
            epochID = sensID;
          }else{
            epoch_div += "epoch_"+sensID+" ";
            blocksData +=
            '<div class="cards-base small-box card-ok" id="row_'+sensID+'">'+
              '<div class="inner">'+
                '<div class="card-txt-sensor">'+
                  description+
                '</div>'+
                '<div class="card-txt-data" id=sens_'+sensID +'>'+
                '0 &#176;'+
                '</div>'+
                '<div class="card-txt-minmax" >'+
                  '<span id=min_'+sensID +'>'+
                  '&#176;</span>'+
                  '<br/>'+
                  'min.'+
                '</div>'+
                '<div class="card-txt-minmax" >'+
                  '<span id=max_'+sensID +'>'+
                  '&#176;</span>'+
                  '<br/>'+
                  'max.'+
                '</div>'+
              '</div>'+
              '<a href="/dash/sensor/'+sensID+'" target="_self"    class="small-box-footer">'+
              'Ver  Grafica <i class="fa fa-dashboard"></i>'+
              '</a>'+
            '</div>';
          }
        }

        rowData +=
        '<div id="trans_'+data[i].id +'">'+
          '<div class="row">'+
            '<div class="col-xs-12">'+
              '<div class="box box-info">'+
                '<div class="box-header with-border">'+
                  '<h3 class="box-title">'+
                    'Proyecto: <b>'+proyectNames[_proyID] +'</b> '+
                    'Transmisor:  <b>'+data[i].name+'</b><br/>'+
                    '<span class="'+epoch_div+'"> -  Última actualización: </span>'+
                  '</h3>'+
                  '<div class="box-tools pull-right">'+
                    '<a href="/dash/reports/'+data[i].id+'" target="_self" class="btn btn-danger">Ver Alertas</a>'+
                    '<button class="btn btn-box-tool" data-widget="collapse">'+
                      '<i class="fa fa-minus"></i>'+
                    '</button>'+
                  '</div>'+
                '</div>'+
                '<div class="box-body">'+
                  '<div class="col-xs-12">'+
                    '<div id="blocksens_'+sensID +'" class="">'+
                        blocksData+
                    '</div>'+
                  '</div>'+
                '</div>'+
                {% if not request.user.client %}
                '<div class="box-footer ">'+
                  '<a href="/dash/admin/projects/edit/'+_proyID+'" target="_self" class="btn pull-right btn-default">Editar Proyecto</a>'+
                  '<a href="/dash/admin/iots/edit/'+data[i].id+'" target="_self" class="btn pull-right btn-default">Editar Transmisor</a>'+
                '</div>'+
                {% endif %}
              '</div>'+
            '</div>' +
          '</div>' +
        '</div>';
      }
      //getArduinosFromAPI(data[0].id);
    }
    $('#transmisores').append(rowData);

    for( var i = 0; i < data.length ; i++){
        //Tambien vamos creando los sockets
        if(data[i].sensors.length > 0){
          createSocket(data[i].id, data[i].arduino_token);
          console.log(allSockets);
        }

      for( var j = 0; j < data[i].sensors.length ; j++){
        //console.log(data[i].sensors[j]);
        getSensorsFromAPI(data[i].project,data[i].sensors[j].id, actualArduino,data[i].sensors[j],"");
      }

      //getSensorsFromAPI(data.project,data.sensors[i].id, actualArduino, i);
    }
  }



function getSensorsFromAPI(proy_ID,sensor_ID, arduinoID,sens_info,query){

    var passData_proyectID  = proy_ID;
    var passData_sensorID   = sensor_ID;
    var passData_arduinoID  = arduinoID;
    var passData_sensInfo   = sens_info;

    var sensorQuery;

    if(query == "")
      sensorQuery = "last=1";
    /*
    console.log("*-----------");
    console.log(passData_proyectID);
    console.log(passData_arduinoID);
    console.log(passData_sensorID);
    console.log(urlApiBase + arduinosApi + actualArduino +'/sensors/'+ sensor_ID + '/data/');
    console.log("*-----------");
    */

    $.ajax({
      url: 'http://' + urlApiBase + arduinosApi + actualArduino +'/sensors/'+ sensor_ID + '/data/' + "?"+sensorQuery ,
      type: 'GET',
      contentType: 'json/application',
      dataType: 'json',
      processData: false,
      xhrFields: {
        withCredentials: false
      },
      headers: {
        'Authorization': tokenCode
      },
      success: function(data) {
        dataSensorsCallBack(proy_ID,data,passData_arduinoID,passData_sensorID,passData_sensInfo);
      },
      error: function() {
        console.log('Hubo un problema, SENSORES solucionalo...!');
      }
    });
  }

  var isFirstLoad = true;
  function dataSensorsCallBack(proy_ID,data, arduinoID, sensID, sensInfo ){

    if( data[0] !== undefined){
      var passData_sensID     = sensID;

      if(sensInfo.data_key != 'field1'){
        console.log("----sensorsCallBack----------------");
        console.log(data);
        console.log(sensInfo);
        console.log("--------------------");
        var passData_proyectID  = proy_ID;
        var passData_arduinoID  = arduinoID;

        var passData_sensInfo   = sensInfo;
        var dataSend = Number(data[0].data);
        $('#sens_'+sensID).html(dataSend.toFixed(2) + '°');

        var max = sensInfo.max_value;
        var min = sensInfo.min_value;

        if(parseFloat(dataSend) > parseFloat(max) || parseFloat(min) > parseFloat(dataSend)){
          $('#row_'+sensID).removeClass("card-ok");
          $('#row_'+sensID).addClass("card-alert");
        }else{
          $('#row_'+sensID).addClass("card-ok");
          $('#row_'+sensID).removeClass("card-alert");
        }

        $('#min_'+sensID).html(' ' + min.substring(0,(min.length-2)) + '°');
        $('#max_'+sensID).html(' ' + max.substring(0,(max.length-2)) + '°');

        var epoch = data[0].epoch;
        var epochDate = convertEpoch2Date(epoch);

        $('.epoch_'+sensID).html('Última Actualización:  ' + epochDate);

        if(Number(data[0].data).toFixed(2) == "-127.00" ){
          $('#row_'+sensID).hide();
        }


      }else{
      }
    }
    canUseSocket = true; //dejemos que vivan los sockets
    isFirstLoad = false;
  }

  function convertEpoch2Date(epochData){
    if(parseInt(epochData)>10000){
      var actualDate = new Date();

      var d = new Date(parseInt(epochData)*1000);
      var day     =  d.getDate() +'';
      var month   =  d.getMonth() + 1 +'';
      var hour    =  d.getHours() +'';
      var minutes =  d.getMinutes()+'';
      var seconds =  d.getSeconds()+'';

      //NO me gusta... pero no se me ocurre otra forma...
      if(day.length == 1)
        day = '0'+day;
      if(month.length == 1)
        month = '0'+month;
      if(hour.length == 1)
        hour = '0'+hour;
      if(minutes.length == 1)
        minutes = '0'+minutes;
      if(seconds.length == 1)
        seconds = '0'+seconds;

      var dateFormat = day +'/'+month+'/'+d.getFullYear();
      var timeFormat = hour+':'+minutes+':'+seconds;

      return dateFormat + '               <b>' + timeFormat + '</b>';
    }else{
      return "Formato de Fecha Invalido";
    }
  }

  function useWSData(msg){

    if(canUseSocket == true ){
      var wsData = JSON.parse(msg);
      console.log("---wsData---------***");
      console.log(wsData);
      console.log("------------***");


      for(var i= 0 ; i < wsData.length ; i++){
        var data = wsData[i]['data'];
        console.log(wsData[i]['arduino_sensor']);
        if(data == '-127.00' || data == ''){
          $('#row_'+wsData[i]['arduino_sensor']).hide();
        }else{
          var epochDate = convertEpoch2Date(wsData[i]['epoch']);
          $('.epoch_'+wsData[i]['arduino_sensor']).html('Ultima Actualización:  ' + epochDate);

          $('#row_'+wsData[i]['arduino_sensor']).show();
          $('#sens_'+wsData[i]['arduino_sensor']).html(Number(data).toFixed(2) + " &#176;");

          var min = $('#min_'+wsData[i]['arduino_sensor']).text();
          var max = $('#max_'+wsData[i]['arduino_sensor']).text();

          if(parseFloat(Number(data)) > parseFloat(max) || parseFloat(min) > parseFloat(Number(data))){
            $('#row_'+wsData[i]['arduino_sensor']).removeClass("card-ok");
            $('#row_'+wsData[i]['arduino_sensor']).addClass("card-alert");
          }else{
            $('#row_'+wsData[i]['arduino_sensor']).addClass("card-ok");
            $('#row_'+wsData[i]['arduino_sensor']).removeClass("card-alert");
          }
        }
      }
    }
  }

  //Pedimos a la API los datos de los sistemas
  function getArduinosFromAPI(sistema_ID){

    $.ajax({
      url: 'http://' + urlApiBase + arduinosApi + sistema_ID,
      type: 'GET',
      contentType: 'json/application',
      dataType: 'json',
      processData: false,
      xhrFields: {
        withCredentials: false
      },
      headers: {
        'Authorization': tokenCode
      },
      success: function(data) {
        console.log('SISTEMA SELECCIONADO ' +  sistema_ID);
        console.log(data);
        dataArduinosCallBack(data);
      },
      error: function() {
        console.log('Hubo un problema, solucionalo...!');
      }
    });
  }


  function dataArduinosCallBack( data ){
    console.log("Llego la información ARDUINO");

    _sysID = data.id;

    actualArduino = data.id; //ID del arduino seleccionado

    //Se borra el contenido de las tabs
    $('#tabs_content').html('');
    $('#tabs_header').html('');

    for(var i=0 ; i < data.sensors.length; i++){
      //Se llena el objeto de los datos.
      getSensorsFromAPI(data.project,data.sensors[i].id, actualArduino, i, data.sensors[i],"");
    }
  }




  function completeTimeFormat(hours, minutes, seconds) {
    if (hours < 10) {
      hours = "0" + hours;
    }
    if (minutes < 10) {
      minutes = "0" + minutes;
    }
    if (seconds < 10) {
      seconds = "0" + seconds;
    }
    return hours + ':' + minutes + ':' + seconds;
  }



function createDatePicker(sensID,min_date,max_date){
  //moment("12/25/1995", "MM-DD-YYYY");
  $('#daterange_'+sensID).daterangepicker({
    locale: {
     format: 'YYYY-MM-DD'
   },
   opens: "center",
   drops: "up",
   showWeekNumbers:true,
   minDate: moment(min_date,"YYYY-MM-DD"),
   maxDate: moment().add(1,'days'),
   startDate: moment(min_date,"YYYY-MM-DD"),
   endDate: moment(max_date,"YYYY-MM-DD")
  },
  function (start, end) {
      $('#daterange_'+sensID).html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
  });


var canUsePickerCallBack =  true;

  $("[id^=daterange_]").on('apply.daterangepicker', function(ev, picker) {

    var sensID =  $(this)[0].id;
    sensID     = sensID.replace("daterange_","");
    _sensID    = sensID;

    if(_activeTab == sensID && canUsePickerCallBack){
      canUsePickerCallBack = false;
      console.log("mismo de la tab seleccionada");
      //checar la tab activa y calidar que sea la misma
      //console.log(picker);
      console.log(picker.startDate.format('YYYY/MM/DD'));
      console.log(picker.endDate.format('YYYY/MM/DD'));

      //Aqui se manda a llamar el UPDATER de la grafica por fecha.
      //updateGraph(picker.startDate.format('YYYY/MM/DD'), picker.endDate.format('YYYY/MM/DD'));
    }
  });
}
/*
CUANDO ERAN BLOQUES
  blocksData +=
  '<div id="blocksens_'+sensID +'">'+
    '<div class="col-sm-3 col-xs-12">'+
      '<div class="info-box">'+
        '<span class="info-box-icon bg-green"><i class="fa fa-fw fa-area-chart"></i></span>'+
        '<div class="info-box-content">'+
          '<span class="info-box-text">'+
            description+
          '</span>'+
          '<span id=sens_'+sensID +' class="info-box-number">0'+
          '&#176;</span>'+
          '<span id=min_'+sensID +' class="info-box-text">'+
            'Min. 0'+
          '&#176;</span>'+
          '<span id=max_'+sensID +' class="info-box-text">'+
            'Max. 0'+
          '&#176;</span>'+
        '</div>'+
      '</div>'+
    '</div>'+
  '</div>';
}
*/
  </script>

{% endblock content_js %}
