{% extends 'main_header.html' %}
{% load staticfiles %}


{% block content_css %}

<style>
  #graphData{
    font-size:20px;
  }
  .bg-dark-green{
    color: white;
    background-color: #027c43 !important;
  }
</style>

{% endblock content_css %}



{% block main_content_wrapper %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <b> Transmisor: </b> {{arduinosensor.arduino.name}}
        <small>Tipo Sensor: <b>{{ arduinosensor.sensor_type.name }}</b></small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-6">
          <div class="box box-solid">
            <div class="box-header with-border">
              <i class="fa fa-adjust"></i>
              <h3 class="box-title">Información del Sensor</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
              <dl class="dl-horizontal">
                <dt>Proyecto</dt>
                <dd>
                  <a href="/dash/projects/{{arduinosensor.arduino.project.id }}" target="_self">
                    {{arduinosensor.arduino.project.name }}
                  </a>
                </dd>
                <dt>Sistema</dt>
                <dd>
                  <a href="/dash/iot/{{arduinosensor.arduino.id }}" target="_self">
                    {{arduinosensor.arduino.name}}
                  </a>
                </dd>
                <dt>Tipo de Sensor</dt>
                <dd>{{ arduinosensor.sensor_type.name }}</dd>
                <dt># del Sensor en el sistema</dt>
                <dd>{{ arduinosensor.index }}</dd>

                {% comment %}
                  <dt>Valor Máximo permitido</dt>
                  <dd>{{ arduinosensor.max_value }}</dd>
                  <dt>Valor Mínimo permitido</dt>
                  <dd>{{ arduinosensor.min_value }}</dd>
                {% endcomment %}

              </dl>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div><!-- ./col -->

        <div class="col-md-6">
          <div class="box box-solid">
            <div class="box-header with-border">
              <i class="fa fa-adjust"></i>
              <h3 class="box-title">Resumen de registros</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
              <dl class="dl-horizontal">
                <dt>Registros totales</dt>
                <dd id="totalRegistros">0</dd>

                {% comment %}
                  <dt>Registros con riesgo</dt>
                  <dd id="totalConRiesgo">0</dd>
                  <dt>Alertas Enviadas</dt>
                  <dd id="totalAlertas">0</dd>
                {% endcomment %}

                <dt>Promedio de registros</dt>
                <dd id="totalPromedio">0</dd>
                <dt>Valor minimo registrado</dt>
                <dd id="valorMinimo">0</dd>
                <dt>Valor maximo registrado</dt>
                <dd id="valorMaximo">0</dd>
              </dl>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div><!-- ./col -->


        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-dark-green">
            <div class="inner">
              <h3 id="val_min">
                {{ arduinosensor.min_value }}
              </h3>
              <span>Valor Mínimo permitido</span>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-green">
            <div class="inner">
              <h3 id="ultimoValor">
                {{ arduinosensor.sensor_data.last.data }}
                <sup style="font-size: 20px">°</sup>
              </h3>
              <span>Último valor registrado</span>
              <br/>
              <span>Fecha: </span><span id="dateEpoch"> Conectando...</span>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-dark-green">
            <div class="inner">
              <h3 id="val_max">
                {{ arduinosensor.max_value }}
              </h3>
              <span>Valor Máximo permitido</span>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3 id="widget_Promedio">0</h3>
              <span>Promedio <span id="widget_TotalRegistros">(0)</span> registros</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">
                Gráfica del Sensor - {{ arduinosensor.sensor_type.name }}

              </h3>
              <div class="box-tools pull-right">
                Ultima actualización:
                <span id="sensor_lastupdate" class="">
                  conectando...
                </span>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-xs-4 ">
                  <div id="filter_type" class="form-group">
                    <label for="limit_selector" class=" col-xs-12 control-label">Tipo de Filtrado:</label>
                    <div class="col-xs-8">
                      <select class="form-control" id="type_selector">
                        <option value="0">Seleccione una opcion</option>
                        <option value="1">No. de Registros</option>
                        {% comment %}
                          <option value="2">Rango de Tiempo</option>
                          <option value="3">Rango de Tiempo y No. de Registros</option>
                        {% endcomment %}
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-xs-4 ">
                  <div id="filter_date" class="form-group">
                    <label for="date_selector" class=" control-label">Seleccione fechas:</label>
                    <div class="">
                      <button type="button" class="btn btn-default pull-left" id="daterange"><span><i class="fa fa-calendar"></i> Selección de Fechas</span><i class="fa fa-caret-down"></i></button>
                    </div>
                  </div>
                </div>

                <div class="col-xs-4 ">
                  <div id="filter_limit" class="form-group">
                    <label for="limit_selector" class=" col-xs-12 control-label">Ultimos Registros</label>
                    <div class="col-xs-6">
                      <select class="form-control" id="limit_selector">
                        <option>1000</option>
                        <option>750</option>
                        <option>500</option>
                        <option>400</option>
                        <option>300</option>
                        <option>250</option>
                        <option>200</option>
                        <option>100</option>
                        <option>50</option>
                        <option>30</option>
                        <option>20</option>
                        <option>10</option>
                        <option>5</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 ">
                  <br/>
                  <div>Información del punto de la gráfica: <span id="graphData"></span></div>
                  <br/>
                  La siguiente grafica corresponde a: <b><span id="filter_resume"></span></b>
                  <br/><br/>

                </div>
                <br/><br/><br/><br/>
              </div>

              <div id="graphdiv"></div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>

    {% comment %}
    <div class="row">
      <div class="col-md-6">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Registros del Sensor</h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <table id="table_allData" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th> ID </th>
                  <th>Fecha </th>
                  <th>Valor</th>
                  <th>Estatus</th>
                </tr>
              </thead>
              <tbody>

              {% for data in arduinosensor.sensor_data.all %}
                <tr>
                  <td>{{ data.id  }}</td>
                  <td>{{ data.created_at }}</td>
                  <td>{{ data.data }}</td>
                  <td> <span class="badge bg-green">En rango</span> </td>
                </tr>
              {% endfor %}

              </tbody>
            </table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->

      </div><!-- /.col -->
    </div><!-- /.row -->
    {% endcomment %}

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock main_content_wrapper %}

{% block content_js %}

  <script src="{% static 'plugins/dygraphs/dygraph-combined.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/ws4redis.js' %}"></script>
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>


  <script type="application/javascript">
    // Validamos el entorno donde estamos trabajando
    //Tambien tomamos la IP dinamica para ya no moverle :3
    //##############################

    var urlApi;
    var tokenCode ;
    var userIP;

    var site_url = "{{ site_url }}";
    var ws_url = 'ws://' + site_url;

    console.log(site_url);
    console.log(ws_url);
    //ws_url = ws_url.replace("","");

    if(site_url == 'sensait.dyndns.org'){
      tokenCode = 'Token d7e7f378cdc67dcd7cec11b76e017927c3e73bc3';
    }else{
      tokenCode   = 'Token 6b4f2e70ae0d435bf512897355947fe0a564972a';
      //Para cuando se accede desde la RED local el server
      if( site_url == "192.168.253.31"){
        tokenCode = 'Token d7e7f378cdc67dcd7cec11b76e017927c3e73bc3';
      }
    }

    urlApi = 'http://' + site_url + '/api/arduinos/{{ arduinosensor.arduino.id }}/sensors/{{ arduinosensor.id }}/data/'
    //##############################

  var canUseSocket = false;
  var ws4redis = WS4Redis({
    uri: ws_url+'/ws/{{arduinosensor.arduino.arduino_token}}?subscribe-broadcast&publish-broadcast&echo',
    //'ws://sensait.dyndns.org/ws/{{arduinosensor.arduino.arduino_token}}?subscribe-broadcast&publish-broadcast&echo',
    //':'+userPort+
    connecting: on_connecting,
    connected: on_connected,
    receive_message: receiveMessage,
    disconnected: on_disconnected,
    heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
  });

  // attach this function to an event handler on your site
  function sendMessage() {
    ws4redis.send_message('A message');
  }

  function on_connecting() {
    alert('Websocket is connecting...');
  }

  function on_connected() {
    ws4redis.send_message('Hello');
  }

  function on_disconnected(evt) {
    alert('Websocket was disconnected: ' + JSON.stringify(evt));
  }

  // receive a message though the websocket from the server
  function receiveMessage(msg) {
    useWSData(msg);
    console.log(msg);
  }

//##############################

function useWSData(data){
  console.log(data);
  console.log(canUseSocket);
  console.log(filter_type);

  if(canUseSocket == true ){

      var jso = JSON.parse(data);
      //console.log(jso);
      //console.log('Message from Websocket: ' + data);
      //console.log(jso.length);

      if( filter_type == 1  || moment(date_today).isBetween(filter_date_start, filter_date_end ) || moment(date_today).isSameOrBefore(filter_date_end ) ){

        for(var i= 0 ; i < jso.length ; i++){

          console.log(jso[i]['data']);
          console.log(jso[i]['data_key']);
          if(jso[i]['data_key'] == 'field1'){

            var d = new Date(0);
            d.setUTCSeconds(jso[i]['data']);

            var month =  d.getMonth() + 1;
            var dateFormat = d.getDay()+'/'+month+'/'+d.getFullYear();
            var timeFormat = d.getHours()+':'+d.getMinutes()+':'+d.getSeconds();

            $('#epoch_'+sensInfo.arduino).html('Ultima Actualización:  ' + dateFormat + '    ' + timeFormat);

            $('#sensor_lastupdate').html( dateFormat + '    ' + timeFormat );
          }

          if(jso[i]['arduino_sensor'] == {{arduinosensor.id}}){

            sensor_data_chart.push(jso[i]['data']);

            var d = new Date(jso[i]['created_at']);
            var d_days = d.getDate() + "/" + d.getMonth() + "/" + d.getFullYear();
            var d_time = completeTimeFormat(d.getHours(), d.getMinutes(), d.getSeconds());
            sensor_date_chart.push(d_time);
            var lastPosition = _sensors_data.length;

            _sensors_data.push(jso[i]);
            //console.log(_sensors_data);
            //console.log(lastPosition);

            $('#totalRegistros').html(lastPosition);
            $('#ultimoValor').html( _sensors_data[lastPosition]['data'] );
             //_sensors_data[lastPosition]['data'] = jso[i]['data'];

            dygraphs_data.push([d, _sensors_data[lastPosition]['data'], {{ arduinosensor.min_value }}, {{ arduinosensor.max_value }}]);

            g.destroy();

            g = new Dygraph(document.getElementById("graphdiv"), dygraphs_data, {
              drawPoints: true,
              showRoller: true,
              height: 400,
              highlightSeriesBackgroundAlpha: 0.8,
              fillGraph: true,
              includeZero: false,
              connectSeparatedPoints:true,
              drawGapEdgePoints:true,
              drawPoints:true,
              pointSize:3,
              strokeWidth: 3,
              rightGap:40,
              legend:"always",
              highlightCircleSize:5,
              showRoller:true,
              hideOverlayOnMouseOut:false,
              labelsDiv: document.getElementById('graphData'),
              labels: ['Tiempo', 'Valor Registrado', 'Min.', 'Max.']
            });

          }else{
            var epoch = parseInt(jso[i]['data']);
            if(epoch >100000){
              var epochDate = convertEpoch2Date(epoch);
              $('#dateEpoch').html(epochDate);
              $('#sensor_lastupdate').html(epochDate);
              console.log("ño");
            }

          }
        }
      }
  }else{
    console.log("Esperaaaa....");
  }
}


function convertEpoch2Date(epochData){

  if(parseInt(epochData)>10000){
    var actualDate = new Date();
    var actualHours = actualDate.getHours();

    var d = new Date(parseInt(epochData)*1000);
    var day     =  d.getDate() +'';
    var month   =  d.getMonth() + 1 +'';
    var hour    =  d.getHours() +'';
    var minutes =  d.getMinutes()+'';
    var seconds =  d.getSeconds()+'';

    /*
    if(parseInt(hour) > parseInt(actualHours)){
      if(parseInt(hour) < 5){
        var dif = hour - 5;
        hour = 24 - dif;
      }else{
        hour = hour - 5;
      }
    }
    */

    //NO me gusta... pero no se me ocurre otra forma...
    if(day.length == 1)
      day = '0'+day;
    if(month.length == 1)
      month = '0'+month;
    if(hour.length == 1)
      hour = '0'+hour;
    if(minutes.length == 1)
      minutes = '0'+minutes;
    if(seconds.length == 1)
      seconds = '0'+seconds;

    var dateFormat = day +'/'+month+'/'+d.getFullYear();
    var timeFormat = hour+':'+minutes+':'+seconds;

    return dateFormat + '               <b>' + timeFormat + '</b>';
  }else{
    return "Formato de Fecha Invalido";
  }
}

  var _arduino;
  var _sensors;
  var _sensors_data;
  var tableNameID = '#table_allData';
  var allData;

  var g ; // variable de la grafica

  var promedio=0,
      media=0,
      valorMaximo=0,
      valorMinimo=0,
      totalRegistros=0,
      totalAlertas=0,
      totalRiesgo=0;


  var query_startDate   = "";
  var query_endDate     = "";
  var query_dataLimit   = "1000";
  var filter_type       = 1 ;
  var filter_registers  = query_dataLimit ;
  var filter_date_start = "" ;
  var filter_date_end   = "" ;
  var date_today;

    $(document).ready(function(){


      //valores minimos y maximos:
      var min = "{{ arduinosensor.min_value }}";
      var max = "{{ arduinosensor.max_value }}";
      $('#val_min').html(min.substring(0,(min.length-2)));
      $('#val_max').html(max.substring(0,(max.length-2)));

      //ocultamos los selectores de la grafica
      filter_type = 1;

      $("#filter_date").hide();
      $("#filter_limit").hide();
      date_today = moment().format("YYYY-MM-DD");
      //primera petición de datos.
      allData = getDataFromAPI("","",query_dataLimit);

      $("#filter_resume").html("Ultimos " + query_dataLimit + " registros" );

    });



    $(tableNameID).DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "pageLength": 5
    });



    $('#limit_selector').on('change', function() {
      var limit = this.value;
      filter_registers = limit;

      if(filter_type == 1 ){
        $("#filter_resume").html("Ultimos " + limit + " registros." );
        getDataFromAPI("","", filter_registers);
      }
      else {
        $("#filter_resume").html("Fecha del  " + filter_date_start + " al " + filter_date_end + " como maximo "+ limit + " registros" );
        getDataFromAPI(filter_date_start,filter_date_end, filter_registers);
      }
    });

    //moment.locale('es');
    //moment("12/25/1995", "MM-DD-YYYY");
    $('#daterange').daterangepicker({
      locale: {
       format: "YYYY-MM-DD",
       "separator": " - ",
       applyLabel: "Aplicar",
       cancelLabel: "Cancelar",
       fromLabel: "Del",
       toLabel: "Al",
       daysOfWeek: [
            "Dom",
            "Lun",
            "Mar",
            "Mie",
            "Jue",
            "Vie",
            "Sab"
        ],
        monthNames: [
          "Enero",
          "Febrero",
          "Marzo",
          "Abril",
          "Mayo",
          "Junio",
          "Julio",
          "Agosto",
          "Septiembre",
          "Octubre",
          "Noviembre",
          "Diciembre"
        ],
     },
     opens: "center",
     drops: "up",
     showWeekNumbers:true,
     minDate: moment().subtract(40, 'days'), //moment(min_date,"YYYY-MM-DD"),
     maxDate: moment().add(1,'days'),
     startDate: moment(), //moment(min_date,"YYYY-MM-DD"),
     endDate: moment() //moment(max_date,"YYYY-MM-DD")
    },
    function (start, end) {
      console.log(start);
      filter_date_start = start.format('YYYY-MM-DD');
      filter_date_end   = end.format('YYYY-MM-DD');

      if(filter_type == 2 )
        $("#filter_resume").html("Fecha del  " + filter_date_start + " al " + filter_date_end  );
      else {
        $("#filter_resume").html("Fecha del  " + filter_date_start + " al " + filter_date_end + " como maximo "+ filter_registers + " registros" );
      }

      getDataFromAPI(filter_date_start,filter_date_end, filter_registers);

    });

    $('#type_selector').on('change', function() {
      var type = this.value;
      filter_type = type;

      //Tipos:
      //0   Titulo
      //"1" No de Registros
      //"2" Rango de Fechas
      //"3" Rango de Fechas y No. de Registros
      if(type != 0 ){
        if(type == 1){
          $("#filter_date").hide();
          $("#filter_limit").show();
          $("#filter_resume").html("Ultimos " + filter_registers + " registros." );
          getDataFromAPI("","", filter_registers);
        }else if (type == 2) {
          $("#filter_date").show();
          $("#filter_limit").hide();
        }else if (type == 3) {
          $("#filter_date").show();
          $("#filter_limit").show();
        }
      }
      console.log(type);

      //getDataFromAPI("","",this.value);
    });





    function getDataFromAPI(query_startDate, query_endDate, query_dataLimit){

      var query =  "?";

      if(query_startDate != "")
        query += "min_time=" + query_startDate + " 00:00:00";

      if(query_endDate != "")
        query += "&max_time=" + query_endDate + " 00:00:00";

      if(query_dataLimit != "" && query_endDate == "")
        query += "last=" + query_dataLimit;

      if(query_dataLimit != "" && query_endDate != "")
        query += "&last=" + query_dataLimit;

      $.ajax({
        url: urlApi + query ,
        type: 'GET',
        contentType: 'json/application',
        dataType: 'json',
        processData: false,
        xhrFields: {
          withCredentials: false
        },
        headers: {
          'Authorization': tokenCode
        },
        success: function(data) {

          if(data.length > 0){
            dataCallBack(data);
          }
          else{
            if(g != null ){
              g.destroy();
              g = null;
            }
            $('#graphdiv').html("Lo sentimos, no se encontraron registros con ese filtro aplicado, favor de especificar otro. ");

          }

        },
        error: function() {
          console.log('boo!');
        }
      });
    }

    function dataCallBack(data){
      totalRegistros = data.length;

      var tmpPromedio=0;
      var tmpValue=0;

      for(var i=0; i < data.length ; i++){
        tmpValue = parseInt(data[i]['data']);
        tmpPromedio += tmpValue;

        if(i == 0){
          valorMinimo = tmpValue;
          valorMaximo = tmpValue;
        }

        if( tmpValue < valorMinimo   )
          valorMinimo = tmpValue;

        if( tmpValue > valorMaximo )
          valorMaximo = tmpValue;
      }

      promedio = tmpPromedio/totalRegistros;

      //Escribimos los valores en el html
      $('#totalRegistros').html(totalRegistros);
      $('#totalConRiesgo').html('000');
      $('#totalAlertas').html('000');
      $('#totalPromedio').html(promedio.toFixed(2));
      $('#valorMinimo').html(valorMinimo);
      $('#valorMaximo').html(valorMaximo);

      $('#widget_Promedio').html(promedio.toFixed(2));
      $('#widget_TotalRegistros').html(totalRegistros);

      createGraph(data);
    }


    var sensor_data_chart = [];
    var sensor_date_chart = [];
    var dygraphs_data = [];

  function createGraph(data) {
    _sensors_data = null;
    sensor_data_chart = [];
    sensor_date_chart = [];
    dygraphs_data =  [];

    _sensors_data = data;

    for (var i = 0; i < _sensors_data.length; i++) {
      sensor_data_chart.push(_sensors_data[i]['data']);

      var d = new Date(_sensors_data[i]['created_at']);
      var d_days = d.getDate() + "/" + d.getMonth() + "/" + d.getFullYear();
      var d_time = completeTimeFormat(d.getHours(), d.getMinutes(), d.getSeconds());
      sensor_date_chart.push(d_time);

      dygraphs_data.push([d, _sensors_data[i]['data'], {{ arduinosensor.min_value }}, {{ arduinosensor.max_value }}]);

    }

    if(g != null ){
      g.destroy();
      g = null;
      $('#graphdiv').html('');
    }

    g = new Dygraph(document.getElementById("graphdiv"), dygraphs_data, {
      drawPoints: true,
      showRoller: true,
      height: 400,
      highlightSeriesBackgroundAlpha: 0.8,
      fillGraph: true,
      includeZero: false,
      connectSeparatedPoints:true,
      drawGapEdgePoints:true,
      drawPoints:true,
      pointSize:3,
      strokeWidth: 3,
      rightGap:40,
      legend:"always",
      highlightCircleSize:5,
      showRoller:true,
      hideOverlayOnMouseOut:false,
      labelsDiv: document.getElementById('graphData'),
      labels: ['Tiempo', 'Valor Registrado', 'Min.', 'Max.']
    });

    canUseSocket = true;

  }

  function graphCallBack(e,x,pts,row){
    console.log(pts);
  }

  function completeTimeFormat(hours, minutes, seconds) {
    if (hours < 10) {
      hours = "0" + hours;
    }
    if (minutes < 10) {
      minutes = "0" + minutes;
    }
    if (seconds < 10) {
      seconds = "0" + seconds;
    }
    return hours + ':' + minutes + ':' + seconds;
  }

  </script>
{% endblock content_js %}
