{% extends 'main_header.html' %}
{% load staticfiles %}
{% load i18n %}
{% load arduino_tags %}


{% block main_content_wrapper %}

{% language 'es' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        PERFIL DEL USUARIO
        <small>activos</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">


    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endlanguage %}
{% endblock main_content_wrapper %}



{% block content_js %}

<!-- page JS -->
<script type="application/javascript">


</script>

{% endblock content_js %}
