{% extends 'main_header.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block main_content_wrapper %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        EMPRESAS - AGREGAR
        <small>Control de Empresas</small>
      </h1>
      <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i>
            Home</a>
        </li>
        <li class="active">Empresas</li>
      </ol>
    </section>

    <!-- Main content -->

    <section class="content">
      <div class="row">
        <div class="col-xs-10">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Crear Empresa</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <form class="form-horizontal" role="form" action="." method="post">
              <div class="box-body">
                  {% csrf_token %}
                  {% for field in form %}
                  <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">{{ field.label }}</label>
                      <div class="col-sm-10">
                         {% render_field field class="form-control" %}
                      </div>
                      <div class="col-sm-offset-2 col-sm-8">
                         {{field.errors}}
                      </div>
                  </div>
                  {% endfor %}
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="reset" class="btn btn-default">Reset</button>
                <button type="submit" class="btn btn-primary">Agregar Empresa</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          </div><!-- /.box -->
        </div>
      </div>

    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->




</div>
{% endblock main_content_wrapper %}


{% block content_js %}


{% endblock content_js %}
