{% extends 'main_header.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block main_content_wrapper %}


<div class="content-wrapper">

  <section class="content-header">
    <h1>
      Detalle del Ticket - {{ ticket.title }}
      <small> {{ ticket.queue }} </small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i>
          Home</a>
      </li>
      <li class="active">Tickets</li>
    </ol>
  </section>


  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-4">
        <div class="box box-solid">
          <div class="box-header with-border">
            <i class="fa fa-adjust"></i>
            <h3 class="box-title">Información del Ticket</h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <dl class="dl-horizontal">
              <dt>Cliente  </dt>
              <dd> Cliente - {{ ticket.title}} </dd>
              <dt>Titulo del Ticket</dt>
              <dd> {{ ticket.title }} </dd>
              <dt>Queue que pertenece </dt>
              <dd> {{ ticket.queue }} </dd>
              <dt>Responsable </dt>
              <dd> {{ ticket.assigned_to }} </dd>
              <dt>Estatus </dt>
              <dd> {{ ticket.get_status_display }} </dd>
              <dt>Prihoridad </dt>
              <dd> {{ ticket.priority }} </dd>
              <dt>Fecha de Creación </dt>
              <dd> {{ ticket.created }} </dd>
              <dt>Fecha limite </dt>
              <dd> {{ ticket.due_date }} </dd>
              <dt>Descripción</dt>
              <dd> {{ ticket.description }} </dd>
              <dt>Comentarios</dt>
              <dd> {{ ticket.follow_up.all.count }} </dd>
            </dl>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- ./col -->

      <div class="col-md-8">
        <div class="box box-solid">
          <div class="box-header with-border">
            <i class="fa fa-adjust"></i>
            <h3 class="box-title">Agregar Comentario</h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <button id="createComment" type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Agregar Comentario?</button>
          </div><!-- /.box -->
        </div><!-- /.box -->
      </div><!-- ./col -->

    </div><!-- ./row -->


    <div class="row">
      <div class="col-md-10">
        <div class="box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">Comentarios del Ticket</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="box-group" id="accordion">

              {% for comment in ticket.followup.all %}

              {% endfor %}

              <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
              <div class="panel box box-primary">
                <div class="box-header with-border">
                  <h4 class="box-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" class="">
                      Collapsible Group Item #1
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true">
                  <div class="box-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  </div>
                </div>
              </div>

              <div class="panel box box-danger">
                <div class="box-header with-border">
                  <h4 class="box-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false">
                      Collapsible Group Danger
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                  <div class="box-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                    nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>



  </section>



</div>

<div class="modal fade modal-primary" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Agregar Ticket</h4>
      </div>
      <div class="modal-body">
          <form class="form-horizontal" role="form" action="followup/" method="post">
            {% csrf_token %}
          <div class="row">
            <div class="col-md-12">

              <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Ticket</label>
                  <div class="col-sm-6">
                     {% render_field form.ticket class="form-control" %}
                  </div>
                  <div class="col-sm-offset-2 col-sm-8">
                     {{form.title.errors}}
                  </div>
              </div>
              <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Responsable</label>
                  <div class="col-sm-6">
                     {% render_field form.user class="form-control" %}
                  </div>
                  <div class="col-sm-offset-2 col-sm-8">
                     {{form.title.errors}}
                  </div>
              </div>

              <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Estatus Nuevo</label>
                  <div class="col-sm-6">
                     {% render_field form.new_status class="form-control" %}
                  </div>
                  <div class="col-sm-offset-2 col-sm-8">
                     {{form.title.errors}}
                  </div>
              </div>


              <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Fecha</label>
                  <div class="col-sm-6">
                     {% render_field form.date class="form-control" %}
                  </div>
                  <div class="col-sm-offset-2 col-sm-8">
                     {{form.title.errors}}
                  </div>
              </div>

              <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Titulo</label>
                  <div class="col-sm-6">
                     {% render_field form.title class="form-control" %}
                  </div>
                  <div class="col-sm-offset-2 col-sm-8">
                     {{form.title.errors}}
                  </div>
              </div>

              <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Comentario</label>
                  <div class="col-sm-6">
                     {% render_field form.comment class="form-control" %}
                  </div>
                  <div class="col-sm-offset-2 col-sm-8">
                     {{form.title.errors}}
                  </div>
              </div>

            </div> <!-- DIV DE LA MITAD DEL FORM -->
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline">Crear Ticket</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
{% endblock main_content_wrapper %}


{% block content_js %}

$('#createComment').on('shown.bs.modal', function () {
  $('#myInput').focus()
})

{% endblock content_js %}
