{% extends 'main_header.html' %}
{% load staticfiles %}
{% load arduino_tags %}

{% block main_content_wrapper %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Admin - BORRADO DE EMPRESA
        <small>BORRADO DE EMPRESA</small>

      </h1>
      <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i>
            Home</a>
        </li>
        <li class="active">
          <a href="#" target="_self">
            Lista de Empresas
          </a>
        </li>
        <li class="active"> Empresa  <b>{{enterprise.name }}</b></li>

      </ol>
    </section>

    <!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">
            <b> IMPORTANTE:</b>
          </h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <h1 class="color_red">Estas a punto de borrar la empresa y su información:</h1>

        <h2>Empresa:      <b> {{enterprise.name}} </b> </h2>

        </br>
        <b><h4>
          ¿Estas seguro?
        </h4> </b>

        <form role="form" action="" method="post">
          {% csrf_token %}

          {{form}}

          <div class="box-footer">
            <a href="#">
              <a href="{% url 'enterprise-client:enterprise-list' %}" class="btn btn-info">Cancelar</a>
            </a>
            <a href="#">
              <button type="submit" class="btn btn-danger">Borrar</button>
            </a>
          </div>
        </form>
      </div><!-- /.box -->
    </div>
  </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock main_content_wrapper %}

{% block content_js %}
  <!-- page script -->
<script type="application/javascript">


</script>

{% endblock content_js %}
