{% extends 'main_header.html' %}
{% load staticfiles %}
{% load arduino_tags %}

{% block main_content_wrapper %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        ADMINISTRACIÓN DE SENSORES
        <small>Lista de sensores creados</small>

      </h1>
    </section>


  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-body">
            <table id="table_sensor" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Sensor ID</th>
                  <th>Nombre Sensor</th>
                  <th>Descripción</th>
                  <th>Modelo</th>
                  <th>Simbolo</th>
                  <th>Decimales</th>
                  <th>Accion</th>
                </tr>
              </thead>
              <tbody>

                {% for sensor in sensortype_list %}
                <tr>
                  <td>Sensor00{{sensor.id}}</td>
                  <td>{{sensor.name}}</td>
                  <td> {{sensor.description}} </td>
                  <td> {{sensor.model}} </td>
                  <td> {{sensor.simbolo}} </td>
                  <td> {{sensor.decimales}} </td>

                  <td>
                    <div class="btn-group">
                      <a href= "{% url 'sensorTypeDetail' pk=sensor.id %} " target="_self">
                        <button  type="button" class="btn btn-success">Ver</button>
                      </a>
                      <a href= "{% url 'sensorTypeEdit' pk=sensor.id %} " target="_self">
                        <button  type="button" class="btn btn-info">Editar</button>
                      </a>
                      <a href= "{% url 'sensorTypeDelete' pk=sensor.id %} " target="_self">
                        <button type="button" class="btn btn-danger">Borrar</button>
                      </a>
                    </div>
                  </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->

      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <a href= "{% url 'sensorTypeNew' %} " target="_self">
            <button class="btn btn-block btn-info btn-lg">Agregar Sensor</button>
          </a>
        </div>
      </div>
    </div>

    </section>
      <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock main_content_wrapper %}

{% block content_js %}
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
  <!-- page script -->
<script type="application/javascript">

  $(function () {
    $('#table_sensor').DataTable({
      "paging": false,
      "lengthChange": false,
      "searching": false,
      "ordering": false,
      "info": false,
      "autoWidth": true
    });
  });

</script>

{% endblock content_js %}
