{% extends 'main_header.html' %}
{% load staticfiles %}
{% load arduino_tags %}

{% block main_content_wrapper %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        ADMIN - DETALLE DEL TRANSMISOR: <b> {{arduino.name }}</b>
        <small> </small>

      </h1>
    </section>

    <!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">

      <div class="box box-solid">
        <div class="box-header with-border">
          <i class="fa fa-adjust"></i>
          <h3 class="box-title">Información del Sistema</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <dl class="dl-horizontal">

            <dt>Llave del Sistema</dt>
            <dd>
              <h3><b>{{arduino.arduino_token }} </b></h3>
            </dd>

            <dt>Proyecto del Sistema</dt>
            <dd>
              {{arduino.project }}
            </dd>

            <dt>Nombre del Sistema</dt>
            <dd>
              {{arduino.name }}
            </dd>
            <dt>ID Sistema</dt>
            <dd>
                {{arduino.id }}
            </dd>

            <dt>Ubicación</dt>
            <dd>
                {{arduino.location }}
            </dd>

            <dt>Sensores Registrados</dt>
            <dd>
                {{arduino.sensors.count }}
            </dd>

            <dt> Sensores Disponibles </dt>
            <dd>
                {{arduino.available_sensors }}
            </dd>

            <dt>Fecha de Creación</dt>
            <dd>
                {{arduino.created_at }}
            </dd>

            <dt>Fecha de Actualización</dt>
            <dd>
                {{arduino.updated_at }}
            </dd>

            <dt>Estado</dt>
            <dd>
                <b>{{arduino.get_estatus_display }}</b>
            </dd>

          </dl>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
  </div><!-- /.row -->



  <!-- /. lista de PROYECTOS ASIGNADOS -->
    <div class="row">
      <div class="col-xs-12 ">
        <div class="box box-solid">
          <div class="box-header with-border">
            <i class="fa fa-adjust"></i>
            <h3 class="box-title">Lista de Sensores asignados al Sistema:
              {{client.enterprise }} </h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <table id="table_sensors" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>ID Sensor</th>
                  <th>Nombre del Sensor</th>
                  <th>Tipo de Sensor</th>
                  <th>Valor Mínimo</th>
                  <th>Último Valor</th>
                  <th>Valor Máximo</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>

                {% for sensor in arduino.arduino_sensors.all %}
                {% if  sensor.data_key != "field1" %}
                <tr>
                  <td> Sensor00{{sensor.id}} </td>
                  <td> {{sensor.description}} </td>
                  <td> {{sensor.sensor_type.name}} </td>
                  <td> {{sensor.min_value}} </td>
                  <td> {{ sensor.sensor_data.last.data }} </td>
                  <td> {{sensor.max_value}} </td>
                  <td>
                    <div class="btn-group">
                      <a href="/dash/sensor/{{sensor.id}}" target="_self">
                        <button  type="button" class="btn btn-success">Gráfica</button>
                      </a>
                    </div>
                  </td>

                </tr>
                {% endif %}
                {% endfor %}

              </tbody>
            </table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>
    </div>



{% comment %}
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <a href="{% url 'sensorTypeList' %}">
          <button class="btn btn-block btn-info btn-lg">Regresar a Lista de Sensores</button>
        </a>
      </div>
    </div>
  </div>
{% endcomment %}

<!-- /.END PARA LOS ARDUINOS DEL PROYECTO -->
  </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock main_content_wrapper %}

{% block content_js %}
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
  <!-- page script -->
<script type="application/javascript">

  $(function () {
    $('#table_sensors').DataTable({
      "paging": false,
      "lengthChange": false,
      "searching": false,
      "ordering": false,
      "info": false,
      "autoWidth": false
    });
  });

</script>

{% endblock content_js %}
