{% extends 'main_header.html' %}
{% load staticfiles %}
{% load arduino_tags %}

{% block main_content_wrapper %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        ADMIN - PROYECTO -  DETALLE -  {{project.name }}
        <small>LISTA DE SISTEMAS EN EL PROYECTO</small>

      </h1>
      <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i>
            Home</a>
        </li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">

      <div class="box box-solid">
        <div class="box-header with-border">
          <i class="fa fa-adjust"></i>
          <h3 class="box-title">Información del Proyecto:  <b>{{project.name }}</b></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt>Proyecto</dt>
            <dd>
              <a href="#" target="_self">
                {{project.name }}
              </a>
            </dd>
            <dt>ID Proyecto</dt>
            <dd>
              <a href="#" target="_self">
                {{project.id }}
              </a>
            </dd>
            <dt># de Sistemas instalados</dt>
            <dd>{{project.arduinos.count }}</dd>
          </dl>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
  </div><!-- /.row -->


<!-- /.CRUD PARA LOS ARDUINOS DEL PROYECTO -->

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Lista d Sistemas Instalados</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <table id="table_projects" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>ID Sistema</th>
              <th>Nombre Sistema </th>
              <th>Ubicación</th>
              <th>Fecha Creación</th>
              <th>Estatus</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for arduino in arduinos %}
            <tr>

              <td>{{arduino.id}}</td>
              <td>{{arduino.name}}</td>
              <td>{{arduino.location}}</td>
              <td>{{arduino.created_at}}</td>

              {% if  project.id|isEven == 0%}
                <td> <span class="label label-danger">Pendiente Success</span> </td>
              {% else %}
                <td> <span class="label label-success">Estatus Correcto</span> </td>
              {% endif %}

              <td>
                <div class="btn-group">
                  <a href="/dash/admin/iot/detail/{{arduino.id}}" target="_self">
                    <button  type="button" class="btn btn-success">Ver</button>
                  </a>
                  <a href="{% url 'arduinoSensorsEdit' pk=arduino.id %}" target="_self">
                    <button  type="button" class="btn btn-info">Editar</button>
                  </a>
                  <a href="/dash/admin/iot/delete/{{arduino.id}}" target="_self">
                    <button type="button" class="btn btn-danger">Borrar</button>
                  </a>
                </div>
              </td>

            </tr>
            {% endfor %}
          </tbody>
          
          <tfoot>
            <tr>
              <th>ID Sistema</th>
              <th>Nombre Sistema </th>
              <th>Ubicación</th>
              <th>Fecha Creación</th>
              <th>Estatus</th>
              <th>Acciones</th>
            </tr>
          </tfoot>
        </table>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <a href="{% url 'newArduino' project_pk=project.id %}">
        <button class="btn btn-block btn-info btn-lg">Agregar Sistema</button>
      </a>
    </div>
  </div>
</div>

<!-- /.END PARA LOS ARDUINOS DEL PROYECTO -->
  </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock main_content_wrapper %}

{% block content_js %}
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
  <!-- page script -->
<script type="application/javascript">

  $(function () {
    $('#table_projects').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });

</script>

{% endblock content_js %}
