{% extends 'main_header.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block main_content_wrapper %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        SENSORES DEL SISTEMA
        <small>LISTA DE SENSORES</small>
      </h1>
      <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i>
            Home</a>
        </li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-xs-6">
      <div class="box box-solid">
        <div class="box-header with-border">
          <i class="fa fa-adjust"></i>
          <h3 class="box-title">Información del Sistema:  <b>{{arduino.name}}</b></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt>Sistema</dt>
            <dd>
              <a href="#" target="_self">
                {{arduino.name}}
              </a>
            </dd>
            <dt>Proyecto Parent</dt>
            <dd>
                {{arduino.project}}
            </dd>
            <dt>ID Sistema</dt>
            <dd>
              <a href="#" target="_self">
                {{arduino.id}}
              </a>
            </dd>
            <dt>Ubicación</dt>
            <dd>{{arduino.location}}</dd>
            <dt>Fecha de Creación</dt>
            <dd>{{arduino.created_at}}</dd>
            <dt>Fecha de Actualización</dt>
            <dd>{{arduino.updated_at}}</dd>
          </dl>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
  </div><!-- /.row -->



  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">SENSORES DEL SISTEMA INSTALADO</h3>
        </div><!-- /.box-header -->

        <!-- form start  {{form}} -->
        <form id="myform" role="form" action="" method="post">
          {% csrf_token %}
          <hr>
          <div class="arduino-form">

          </div>
          <div class="row">
            <div class="sensor-formset">
              {{ sensor_formset.management_form }}

              {% for sform in sensor_formset %}

                <div class="col-xs-3">
                  <div class="form-group">
                    <label for="sensor_type">Tipo Sensor:</label>
                    {% render_field sform.sensor_type class="form-control" %}
                  </div>
                </div>

                <div class="col-xs-3">
                  <div class="form-group">
                    <label for="description">Descripcion:</label>
                    {% render_field sform.description class="form-control" %}
                  </div>
                </div>

                <div class="col-xs-3">
                  <div class="form-group">
                    <label for="index">Indice: </label>
                    {% render_field sform.index class="form-control" %}
                  </div>
                </div>

                <div class="col-xs-3">
                  <div class="form-group">
                    <label for="index">Data Key:</label>
                    {% render_field sform.data_key class="form-control" %}
                  </div>
                </div>

              {% endfor %}
            </div>
          </div>
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div><!-- /.box -->
    </div>
  </div>

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <button class="btn btn-block btn-info btn-lg">Agregar Sistema</button>
    </div>
  </div>
</div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock main_content_wrapper %}



  {% block content_js %}
    <script src="{% static 'js/django-dynamic-formset/jquery.formset.js' %}"></script>
    $(function() {
        $('#myform').formset();
    });

  {% endblock content_js %}
