{% extends 'main_header.html' %}
{% load staticfiles %}
{% load arduino_tags %}

{% block main_content_wrapper %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        ADMIN - DETALLE DEL PROYECTO: <b> {{project.name }}</b>
        <small>LISTA DE SISTEMAS EN EL PROYECTO</small>

      </h1>
    </section>

    <!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-5">

      <div class="box box-solid">
        <div class="box-header with-border">
          <i class="fa fa-adjust"></i>
          <h3 class="box-title">Información del Proyecto:  <b>{{project.name }}</b></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt>Proyecto</dt>
            <dd>
                {{project.name }}
            </dd>
            <dt>ID Proyecto</dt>
            <dd>
                Proyecto00{{project.id }}
            </dd>
            <dt># de Sistemas instalados</dt>
            <dd>{{project.arduinos.count }}</dd>
          </dl>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
  </div><!-- /.row -->


<!-- /.CRUD PARA LOS ARDUINOS DEL PROYECTO -->

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Lista de Sistemas Instalados</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <table id="table_projects" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Sistema ID</th>
              <th>Nombre Sistema </th>
              <th>Ubicación</th>
              <th>Estatus</th>
              <th align="center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for arduino in arduinos %}
            <tr>

              <td>Sistema00{{arduino.id}}</td>
              <td>{{arduino.name}}</td>
              <td>{{arduino.location}}</td>
              <td>{{arduino.get_estatus_display}}</td>
              <td align="center">
                <div class="btn-group">
                  <a href="{% url 'adminArduinoDetail' pk=arduino.id %}" target="_self">
                    <button  type="button" class="btn btn-success">Ver</button>
                  </a>
                  <a href="{% url 'arduinoSensorsEdit' pk=arduino.id %}" target="_self">
                    <button  type="button" class="btn btn-info">Editar</button>
                  </a>
                  <a href="{% url 'arduinoDelete' pk=arduino.id %}" target="_self">
                    <button type="button" class="btn btn-danger">Borrar</button>
                  </a>
                </div>
              </td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div>
</div>

{% comment %}
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <a href="{% url 'newArduino' project_pk=project.id %}">
        <button class="btn btn-block btn-info btn-lg">Agregar Sistema</button>
      </a>
    </div>
  </div>
</div>
{% endcomment %}

<!-- /.END PARA LOS ARDUINOS DEL PROYECTO -->
  </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock main_content_wrapper %}

{% block content_js %}
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
  <!-- page script -->
<script type="application/javascript">

  $(function () {
    $('#table_projects').DataTable({
      "paging": false,
      "lengthChange": false,
      "searching": false,
      "ordering": false,
      "info": false,
      "autoWidth": false
    });
  });

</script>

{% endblock content_js %}
