{% extends 'main_header.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block main_content_wrapper %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        ADMIN - {% if form.initial %} EDITAR INFORMACIÓN DE LA EMPRESA <b>{{enterprise.name }}</b> {% else %} CREAR NUEVA EMPRESA {% endif %}
        <small>Control de Empresas</small>
      </h1>
      {% comment %}
      <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i>
            Home</a>
        </li>
        <li class="active">
          <a href="#" target="_self">
            Lista de Empresas
          </a>
        </li>
        {% if form.initial %}
          <li class="active"> Empresa: <b>{{enterprise.name }}</b></li>
        {% else %}
        {% endif %}
      </ol>
      {% endcomment %}
    </section>

    <!-- Main content -->

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">{% if form.initial %} Editar {% else %} Crear {% endif %} Empresa</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
              <div class="box-body">
                  {% csrf_token %}
                  {% for field in form %}
                  <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">{{ field.label }}</label>
                      <div class="col-sm-10">
                         {% render_field field class="form-control" %}
                      </div>
                      <div class="col-sm-offset-2 col-sm-8">
                         {{field.errors}}
                      </div>
                  </div>
                  {% endfor %}
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <a href="{% url 'enterprise-client:enterprise-list' %}" class="btn btn-default">Regresar</a>
                <button type="submit" class="btn btn-primary">
                  {% if form.initial %} Editar {% else %} Crear {% endif %}
                  Empresa
                </button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          </div><!-- /.box -->
        </div>
      </div>

    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->




</div>
{% endblock main_content_wrapper %}


{% block content_js %}


{% endblock content_js %}
