{% extends 'main_header.html' %}
{% load staticfiles %}

{% block main_content_wrapper %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        IoT - Dashboard - Selected Project
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i>
            Home</a>
        </li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">



    <div class="row">

      <div class="col-md-6">
        <div class="box box-solid">
          <div class="box-header with-border">
            <i class="fa fa-adjust"></i>
            <h3 class="box-title">Información del Proyecto</h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <dl class="dl-horizontal">
              <dt>Nombre del Proyecto </dt>
              <dd>Proyecto IOT 1 </dd>
              <dt>Fecha de implementación</dt>
              <dd>20 de enero del 2016 -  12:40 pm</dd>
              <dt>Mantenimientos</dt>
              <dd>4   &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#">
                  <i class="fa fa-edit"></i>
                  Ver detalle
                </a>
              </dd>
            </dl>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- ./col -->

      <div class="col-md-6">
        <div class="box box-solid">
          <div class="box-header with-border">
            <i class="fa fa-adjust"></i>
            <h3 class="box-title">Información de los IoTs</h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <dl class="dl-horizontal">
              <dt>Sistemas - Instalados</dt>
              <dd>2</dd>
              <dt>Sensores - Instalados</dt>
              <dd>24</dd>
              <dt>Configuración de Alertas</dt>
              <dd>
                <a href="#">
                  <i class="fa fa-edit"></i>
                  Configurar
                </a>
              </dd>
            </dl>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- ./col -->
    </div>

      <div class="row">
        <div class="col-xs-12">
          <!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">
                Lista de IoTs en el Proyecto
              </h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
                <button class="btn btn-box-tool" data-widget="remove">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                    <tr>
                      <th>Arduino ID</th>
                      <th>Sensor</th>
                      <th>Ultimo Fecha</th>
                      <th>Ultimo Valor</th>
                      <th>Estatus</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <a href="/dash/iots">AR010101</a>
                      </td>
                      <td>Puerta trasera</td>
                      <td>12/01/1988 12:00 pm</td>
                      <td>25.55</td>
                      <td>
                        <span class="label label-success">En rango</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="pages/examples/invoice.html">AR010101</a>
                      </td>
                      <td>Puerta trasera</td>
                      <td>12/01/1988 12:00 pm</td>
                      <td>25.55</td>
                      <td>
                        <span class="label label-success">En rango</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="pages/examples/invoice.html">AR010101</a>
                      </td>
                      <td>Puerta trasera</td>
                      <td>12/01/1988 12:00 pm</td>
                      <td>25.55</td>
                      <td>
                        <span class="label label-success">En rango</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="pages/examples/invoice.html">AR010101</a>
                      </td>
                      <td>Puerta trasera</td>
                      <td>12/01/1988 12:00 pm</td>
                      <td>25.55</td>
                      <td>
                        <span class="label label-danger">Alerta Enviada</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="pages/examples/invoice.html">AR010101</a>
                      </td>
                      <td>Puerta trasera</td>
                      <td>12/01/1988 12:00 pm</td>
                      <td>25.55</td>
                      <td>
                        <span class="label label-warning">Fuera de Rango</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="pages/examples/invoice.html">AR010101</a>
                      </td>
                      <td>Puerta trasera</td>
                      <td>12/01/1988 12:00 pm</td>
                      <td>25.55</td>
                      <td>
                        <span class="label label-success">En rango</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="pages/examples/invoice.html">AR010101</a>
                      </td>
                      <td>Puerta trasera</td>
                      <td>12/01/1988 12:00 pm</td>
                      <td>25.55</td>
                      <td>
                        <span class="label label-success">En rango</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <a href="javascript::;" class="btn btn-sm btn-default btn-flat pull-right">
                Ver detalle del Proyecto
              </a>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>

      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock main_content_wrapper %}
