
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>IoT Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  {% block main_css %}
  {% endblock  %}

  {% block extra_header_css %}
  {% endblock  %}

  {% block extra_header_js %}
  {% endblock  %}

  {% block content_css %}
  {% endblock content_css %}

</head>
<body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">

    {% block main_header %}
    {% endblock main_header%}

    {% block main_left_menu %}
    {% endblock main_left_menu %}

    {% block main_content_wrapper %}
    {% endblock main_content_wrapper %}

    {% block main_footer %}
    {% endblock main_footer %}

    {% block main_rigth_menu %}
    {% endblock main_rigth_menu %}

  </div><!-- ./wrapper -->



  {% block main_js %}
  {% endblock main_js %}

  {% block content_js %}
  {% endblock content_js %}


  </body>
</html>
