
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SENSAIT Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  {% block main_css %}
  {% endblock  %}

  {% block extra_header_css %}
  {% endblock  %}

  {% block extra_header_js %}
  {% endblock  %}

</head>
<body class="hold-transition login-page">

  {% block main_content_wrapper %}
  {% endblock main_content_wrapper %}

  {% block main_js %}
  {% endblock main_js %}

  {% block content_js %}
  {% endblock content_js %}


  </body>
</html>
